.add-line {
  padding: 10px 16px 10px 24px;
  margin: 8px 0 24px;
}

.add-line__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-line__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-line__icon-btn {
  margin-right: 16px;
}

.add-line__title {
  font-size: 14px;
  line-height: 17px;
  padding-right: 32px;
  border-right: 1px solid #e1e1e1;
  margin-right: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-line__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-line__checkbox {
  margin-right: 16px;
}

.add-line__select {
  width: 210px;
}

.add-line__btns {
  margin-left: auto;
}
