.inventory {
  padding: 10px 16px 10px 24px;
  margin: 10px 0 24px;
}

.inventory__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inventory__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inventory__item:first-child {
  margin-right: auto;
}

.inventory__title {
  font-size: 14px;
  line-height: 17px;
  padding-right: 16px;
  border-right: 1px solid #e1e1e1;
  margin-right: 16px;
}

.inventory__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inventory__select {
  margin-left: 8px;
  width: 210px;
}

.inventory__btns {
  margin-left: 60px;
}

.inventory__btn:not(:last-child) {
  margin-right: 16px;
}
