.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.body__body {
  width: 100%;
  padding: 0 30px 0 30px;
  height: 100vh;
  height: -webkit-fill-available;
  overflow: auto;
  padding-top: 15px;
  position: relative;
}

.body__body::before {
  content: "";
  width: calc(100% - 30px);
  height: 50px;
  background-color: #f8f8f8;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.body__block {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
}

.main {
  min-height: calc(100vh - 81px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
