@media (max-width: 2300px) {
  .card {
    -webkit-box-flex: calc(33.333% - 15px);
        -ms-flex: calc(33.333% - 15px) 0 1;
            flex: calc(33.333% - 15px) 0 1;
    max-width: calc(33.333% - 15px);
  }
  .card:nth-child(n + 4) {
    display: none;
  }
  .card__head-btn {
    margin-right: 5px;
  }
}

.logo-min {
  display: none;
  height: 19px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1780px) {
  .card {
    -webkit-box-flex: calc(50% - 15px);
        -ms-flex: calc(50% - 15px) 0 1;
            flex: calc(50% - 15px) 0 1;
    max-width: calc(50% - 15px);
  }
  .card:nth-child(n + 3) {
    display: none;
  }
  .card__head-btn {
    margin-right: 16px;
  }
}

@media (max-width: 1400px) {
  .menu__item:last-child {
    display: none;
  }
  .menu__item:nth-last-child(2) {
    display: none;
  }
  .menu__adaptive {
    display: block;
  }
  .menu__adaptive .menu__item {
    display: block;
  }
}

@media (max-width: 1300px) {
  .menu__item:nth-last-child(2) {
    display: block;
  }
  .menu__item:last-child {
    display: block;
  }
  .menu__adaptive {
    display: none;
  }
  .aside {
    position: fixed;
    z-index: 11;
    min-height: 100vh;
    width: 66px;
    min-width: 66px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  .aside:hover, .aside.active {
    width: 225px;
  }
  .aside:hover .logo, .aside.active .logo {
    display: block;
    width: 170px;
  }
  .aside:hover .logo-min, .aside.active .logo-min {
    display: none;
    height: 19px;
  }
  .aside:hover .aside-menu__link, .aside.active .aside-menu__link {
    display: inline;
  }
  .aside:hover .aside-menu__btn, .aside.active .aside-menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .aside:hover .aside-menu__submenu, .aside.active .aside-menu__submenu {
    height: auto;
  }
  .aside:hover .aside-menu__head, .aside.active .aside-menu__head {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .aside:hover .aside-menu__icon, .aside.active .aside-menu__icon {
    margin-right: 16px;
  }
  .aside:hover .aside-menu__head, .aside.active .aside-menu__head {
    width: 212px;
  }
  .aside-menu__link {
    min-width: 133px;
  }
  .aside-menu__icon {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 0;
  }
  .aside-menu__head {
    width: 46px;
    overflow: hidden;
    -webkit-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
  }
  .aside-menu__submenu {
    height: 0;
    overflow: hidden;
  }
  .aside-menu__link,
  .aside-menu__btn {
    display: none;
  }
  .aside__body {
    padding: 0 10px;
  }
  .aside-menu__head {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card__head-btn {
    width: 36px;
    height: 36px;
    padding: 0;
  }
  .card__head-btn .btn-gray__text {
    display: none;
  }
  .card__head-btn .btn-gray__icon {
    margin: 0;
  }
  .logo {
    display: none;
    width: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .logo-min {
    display: block;
    height: 19px;
  }
  .aside__logo {
    height: 54px;
  }
  .menu__item--separetor {
    padding-right: 0px;
    border: none;
  }
  .body__body {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    width: calc(100% - 66px);
  }
  .modal {
    left: calc(50% + 33px);
  }
}

@media (max-width: 1250px) {
  .add-line__title {
    margin-right: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 1150px) {
  .menu__item:last-child {
    display: none;
  }
  .menu__item:nth-last-child(2) {
    display: none;
  }
  .menu__adaptive {
    display: block;
  }
  .menu__adaptive .menu__item {
    display: block;
  }
  .add-line__btns {
    margin-left: 15px;
  }
}

@media (max-width: 1024px) {
  .menu__adaptive {
    display: none;
  }
  .aside .logo-min {
    display: none;
    width: 170px;
  }
  .aside .logo {
    display: block;
    width: 170px;
  }
  .aside:hover {
    width: 225px;
  }
  .aside:hover .logo-min {
    display: none;
    height: 23px;
  }
  .aside:hover .aside-menu__head {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aside:hover .aside-menu__icon {
    margin-right: 16px;
  }
  .aside-menu__icon {
    margin-right: 16px;
  }
  .modal {
    left: 50%;
  }
  .aside {
    width: 225px;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .aside.active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .aside__body-wrapper {
    max-height: calc(100vh - 100px);
  }
  .aside__logo img {
    width: 171px;
    height: 54px;
  }
  .aside-menu__submenu {
    height: auto;
  }
  .aside-menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .aside-menu__link {
    display: inline;
  }
  .aside-menu__submenu {
    height: auto;
  }
  .body__body {
    padding-left: 15px;
    width: 100%;
  }
  .menu__list {
    display: none;
  }
  .menu__burger-wrapper {
    display: block;
  }
  .menu__close {
    display: block;
  }
  .aside__head {
    position: relative;
  }
  .catalog__head-top {
    display: block;
  }
  .catalog__head-left,
  .catalog__head-right {
    max-width: 100%;
  }
  .catalog__breadcrumbs {
    margin: 0 0 0 auto;
  }
  .inventory__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .inventory__btns {
    width: 100%;
    margin: 15px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog__head-filters {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 0;
  }
  .catalog__filter-item {
    margin-top: 10px;
  }
  .card__body {
    display: block;
  }
  .card__left,
  .card__right {
    max-width: 100%;
  }
  .card__right .card__dl {
    display: none;
  }
  .card__img img {
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  .card__dl {
    margin-bottom: 0;
  }
  .add-line__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .add-line__btns {
    margin-left: 20px;
  }
  .add-line__item {
    margin: 5px 0;
  }
}

@media (max-width: 768px) {
  .catalog__head-inner {
    display: block;
  }
  .catalog__checkboxes,
  .catalog__inputs {
    max-width: 100%;
  }
  .inventory__inner {
    display: block;
  }
  .inventory__item {
    margin-bottom: 15px;
  }
  .catalog__cards {
    display: block;
  }
  .card {
    max-width: 100%;
    margin-bottom: 15px;
  }
  .card__right .card__dl {
    display: block;
  }
  .chanels__control {
    margin-bottom: 10px;
  }
  .aside-menu__list {
    padding-bottom: 100px;
  }
  .aside__logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .aside__head {
    margin-left: 16px;
    margin-right: 16px;
  }
  .menu__close {
    right: -5px;
  }
  .chanels__control {
    margin-left: auto;
    margin-right: auto;
  }
  .catalog__checkboxes {
    margin-bottom: 15px;
  }
  .add-line__btns {
    margin: 0 auto;
    margin-top: 10px;
  }
}

@media (max-width: 576px) {
  .catalog__filter-btn {
    margin-left: 15px;
  }
  .catalog__input-item {
    width: 100%;
    margin-right: 0;
  }
  .catalog__buttons {
    display: block;
    padding: 0;
  }
  .catalog__btn {
    margin: 5px 0;
    width: 100%;
  }
  .catalog__price {
    width: 100%;
  }
  .catalog__price-inputs {
    width: calc(100% - 100px);
    margin-left: auto;
  }
  .inventory__select {
    width: 100%;
  }
  .inventory__inputs {
    width: 100%;
  }
  .inventory__btns {
    display: block;
  }
  .inventory__btn {
    width: 100%;
  }
  .inventory__btn:not(:last-child) {
    margin-bottom: 10px;
  }
  .pagination {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .pagination__select {
    margin-top: 10px;
  }
  .catalog__head-left {
    display: block;
  }
  .catalog__title {
    margin: 0 0 5px;
  }
  .catalog__breadcrumbs {
    margin-bottom: 15px;
  }
  .card__item {
    padding-bottom: 0;
  }
  .chanels__item {
    -webkit-box-flex: 50%;
        -ms-flex: 50% 0 1;
            flex: 50% 0 1;
    max-width: 50%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 16px;
  }
  .modal__head {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .modal__name {
    max-width: calc(100% - 30px);
  }
  .menu__burger {
    width: 30px;
    height: 24px;
  }
  .menu__burger span {
    height: 4px;
  }
  .menu__burger span:nth-child(2) {
    top: calc(50% - 2px);
  }
  .aside-menu__btn {
    margin-right: 8px;
  }
  .add-line__inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .add-line__checkbox {
    margin-bottom: 10px;
  }
  .add-line__title {
    border: none;
    padding: 0;
  }
  .card__bottom-btns {
    display: block;
  }
  .card__bottom-btns button {
    margin: 5px 0;
    width: 100%;
  }
  .category-modal__select-row {
    display: block;
  }
  .category-modal__select-text {
    margin-bottom: 15px;
  }
  .category-modal__select-row .custom-select-container {
    width: 100%;
  }
  .category-modal__select-wrapper {
    margin-bottom: 0;
  }
}

@media (max-width: 420px) {
  .catalog__head-right {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .catalog__head-top {
    padding-left: 0;
  }
  .catalog__filter-btn {
    margin-top: 10px;
    margin-left: 0;
  }
  .header__btn-item {
    padding: 0 2px;
  }
  .header__avatar {
    margin-left: 5px;
  }
  .header__btn--help {
    display: none;
  }
  .search__reset {
    display: none;
  }
  .catalog__checkbox {
    -webkit-box-flex: 100%;
        -ms-flex: 100% 0 1;
            flex: 100% 0 1;
    max-width: 100%;
  }
  .catalog__price {
    display: block;
  }
  .catalog__price-title {
    margin-bottom: 15px;
  }
  .catalog__price-inputs {
    width: 100%;
  }
  .inventory__item {
    display: block;
  }
  .inventory__title {
    margin-bottom: 10px;
    border: none;
  }
  .card__img img {
    width: 100%;
    height: auto;
  }
  .pagination__link:nth-child(n + 3) {
    display: none;
  }
}
