.catalog__mini-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  margin-top: 15px;
}

@media (max-width: 500px) {
  .catalog__mini-cards {
    margin: 0 -5px;
  }
}

.mini-card {
  -webkit-box-flex: calc(20% - 30px);
      -ms-flex: calc(20% - 30px) 0 1;
          flex: calc(20% - 30px) 0 1;
  max-width: calc(20% - 15px);
  margin: 0 15px;
  margin-bottom: 16px;
  overflow: hidden;
}

@media (min-width: 2100px) {
  .mini-card {
    -webkit-box-flex: calc(14.2% - 30px);
        -ms-flex: calc(14.2% - 30px) 0 1;
            flex: calc(14.2% - 30px) 0 1;
    max-width: calc(14.2% - 15px);
  }
}

@media (min-width: 1600px) {
  .mini-card {
    -webkit-box-flex: calc(16.666% - 30px);
        -ms-flex: calc(16.666% - 30px) 0 1;
            flex: calc(16.666% - 30px) 0 1;
    max-width: calc(16.666% - 15px);
  }
}

@media (max-width: 1200px) {
  .mini-card {
    -webkit-box-flex: calc(25% - 30px);
        -ms-flex: calc(25% - 30px) 0 1;
            flex: calc(25% - 30px) 0 1;
    max-width: calc(25% - 15px);
  }
}

@media (max-width: 900px) {
  .mini-card {
    -webkit-box-flex: calc(33.333% - 30px);
        -ms-flex: calc(33.333% - 30px) 0 1;
            flex: calc(33.333% - 30px) 0 1;
    max-width: calc(33.333% - 15px);
  }
}

@media (max-width: 700px) {
  .mini-card {
    -webkit-box-flex: calc(50% - 30px);
        -ms-flex: calc(50% - 30px) 0 1;
            flex: calc(50% - 30px) 0 1;
    max-width: calc(50% - 15px);
  }
}

@media (max-width: 500px) {
  .mini-card {
    -webkit-box-flex: calc(50% - 10px);
        -ms-flex: calc(50% - 10px) 0 1;
            flex: calc(50% - 10px) 0 1;
    max-width: calc(50% - 5px);
    margin: 0 5px 10px;
  }
}

.mini-card__img {
  position: relative;
}

.mini-card__img img {
  width: 100%;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mini-card__corner {
  background: rgba(35, 35, 35, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  min-height: 32px;
}

.mini-card__corner--padding {
  padding: 3px 0;
}

.mini-card__icon-btn {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3px 0;
}

.mini-card__icon-btn span::before {
  border-color: #eeedfe;
}

.mini-card__icon-btn:hover path, .mini-card__icon-btn:focus path {
  stroke: #eff0f6;
}

.mini-card__icon-btn:hover span::before, .mini-card__icon-btn:focus span::before {
  border-color: #eff0f6;
}

.mini-card__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
}

.mini-card__checkbox span {
  display: block;
  width: 16px;
  height: 16px;
}

.mini-card__checkbox span::before {
  top: 0;
  left: 0;
  border-color: white;
}

.mini-card__body {
  padding: 10px 14px;
}

.mini-card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
}

.mini-card__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  max-width: calc(100% - 24px);
}

.mini-card__like {
  cursor: pointer;
}

.mini-card__like input:checked + svg path {
  fill: #e55652;
}

.mini-card__like svg path {
  fill: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.mini-card__link {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}
