.svg-Buyers-dims {
  width: 20px;
  height: 20px;
}

.svg-CheckOn-dims {
  width: 20px;
  height: 20px;
}

.svg-Link-dims {
  width: 20px;
  height: 20px;
}

.svg-Publish-dims {
  width: 20px;
  height: 20px;
}

.svg-TTN-dims {
  width: 20px;
  height: 20px;
}

.svg-Templates-dims {
  width: 20px;
  height: 20px;
}

.svg-basket-dims {
  width: 20px;
  height: 20px;
}

.svg-bill-dims {
  width: 20px;
  height: 20px;
}

.svg-cross-dims {
  width: 6px;
  height: 6px;
}

.svg-delet-dims {
  width: 20px;
  height: 20px;
}

.svg-dropdown-dims {
  width: 12px;
  height: 7px;
}

.svg-edit-dims {
  width: 20px;
  height: 20px;
}

.svg-employee-dims {
  width: 20px;
  height: 20px;
}

.svg-finance-dims {
  width: 20px;
  height: 20px;
}

.svg-heart-dims {
  width: 20px;
  height: 20px;
}

.svg-help-dims {
  width: 20px;
  height: 20px;
}

.svg-info-dims {
  width: 20px;
  height: 20px;
}

.svg-language-dims {
  width: 20px;
  height: 20px;
}

.svg-logOut-dims {
  width: 20px;
  height: 20px;
}

.svg-message-dims {
  width: 20px;
  height: 20px;
}

.svg-news-dims {
  width: 20px;
  height: 20px;
}

.svg-notification-dims {
  width: 20px;
  height: 20px;
}

.svg-orders-dims {
  width: 20px;
  height: 20px;
}

.svg-plus-dims {
  width: 20px;
  height: 20px;
}

.svg-posting-dims {
  width: 20px;
  height: 20px;
}

.svg-search-dims {
  width: 20px;
  height: 20px;
}

.svg-settings-dims {
  width: 20px;
  height: 20px;
}

.svg-stats-dims {
  width: 20px;
  height: 20px;
}

.svg-stoplist-dims {
  width: 20px;
  height: 20px;
}

.svg-synchronization-dims {
  width: 20px;
  height: 20px;
}

.svg-toleft-dims {
  width: 20px;
  height: 20px;
}

.svg-veryLeft-dims {
  width: 20px;
  height: 20px;
}
