.add-line {
    padding: 10px 16px 10px 24px;
    margin: 8px 0 24px;
    &__inner {
        display: flex;
        align-items: center;
    }
    &__item {
        display: flex;
        align-items: center;
    }
    &__icon-btn {
        margin-right: 16px;
    }
    &__btn {
    }
    &__title {
        font-size: 14px;
        line-height: 17px;
        padding-right: 32px;
        border-right: 1px solid #e1e1e1;
        margin-right: 32px;
        height: 32px;
        display: flex;
        align-items: center;
    }
    &__inputs {
        display: flex;
        align-items: center;
    }
    &__checkbox {
        margin-right: 16px;
    }
    &__select {
        width: 210px;
    }
    &__btns {
        margin-left: auto;
    }
}
