.aside {
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
  min-width: 240px;
  padding: 10px 0 0;
  z-index: 10;
  max-height: 100%;
  height: 100vh;

  height: -webkit-fill-available;

  &__inner {
  }
  &__head {
    margin: 0 24px;
    padding-bottom: 8px;
    margin-bottom: 24px;
    border-bottom: 1px solid #e1e1e1;
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__body-wrapper {
    max-height: calc(100vh - 100px);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  &__body {
    padding: 0 14px;
  }
}
#message {
  path {
  }
}
.aside-menu {
  font-size: 14px;
  line-height: 17px;
  &__list {
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__head {
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 6px 10px;
    border-radius: 4px;
    transition: background 0.3s ease;
    cursor: pointer;
    fill: none;

    stroke: #232323;
    a {
      color: inherit;
    }
    & > * {
      transition: transform 0.3s ease;
    }
    &:hover {
      & > * {
        transform: translateX(5px);
      }
    }
    &.active-drop {
      background: $dropHover;
    }
    &.active {
      background: linear-gradient(
        134deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 33%,
        rgba(112, 101, 248, 1) 33%,
        rgba(155, 147, 252, 1) 66%,
        rgba(111, 100, 248, 1) 66%,
        rgba(111, 100, 248, 1) 100%
      );
      background-size: 600%;
      background-position: 50%;

      color: white;
      stroke: white;
      &:hover {
        background-position: 100%;
      }
    }
  }
  &__icon {
    display: block;
    margin-right: 16px;
  }
  &__link {
    margin-right: auto;
  }
  &__btn {
  }
  &__submenu {
    display: none;
  }
  &__subitem {
  }
  &__sublink {
    display: block;
    padding: 10px 0 10px 46px;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
    color: inherit;
    span {
      display: block;
      max-width: 133px;

      transition: transform 0.3s ease;
    }
    &:hover {
      & > * {
        transform: translateX(5px);
      }
    }
    &.active {
      background: $btnHover;
      color: white;
    }
    &:active {
      background: $btnClick;
      color: white;
    }
  }
}
.icon {
}
.arrow-btn {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
}

.tooltip {
  fill: none;
  stroke: #bdbdbd;
}
