.catalog {
    &__body {
    }
    &__cards {
        display: flex;
        justify-content: space-between;
    }
}
.card {
    flex: calc(25% - 15px) 0 1;
    max-width: calc(25% - 15px);
    &__head {
        padding: 12px 16px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
        border-radius: 6px 6px 0px 0px;
        display: flex;
        align-items: center;
    }
    &__head-btn {
        margin-right: 16px;
        @media (max-width: 1320px) {
            margin-right: 10px;
        }
    }
    &__icons-btns {
        margin-left: auto;
        display: flex;
        align-items: center;
    }

    &__icon-btn {
        background-color: #fff;
        margin: 0 4px;
        transition: all 0.3s ease;

        path {
            transition: all 0.3s ease;
        }
        &:hover,
        &:focus {
            path {
                stroke: $btnClick;
            }
        }
        &:active {
            path {
                stroke: $btnClick;
            }
        }
    }
    &__item {
        padding: 16px;
    }
    &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 16px;
    }
    &__body {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        flex: 220px 0 1;
        max-width: 220px;
    }
    &__img {
        padding-bottom: 8px;
        border-bottom: 1px solid #e1e1e1;
        margin-bottom: 8px;
        img {
            object-fit: cover;
            border-radius: 8px;
            margin-bottom: 8px;
        }
    }
    &__id {
        font-size: 10px;
        line-height: 12px;
        color: #82868c;
    }
    &__descr-mobile {
        display: none;
        @media (max-width: 1024px) {
            display: block;
        }
    }
    &__dl {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 8px;
    }
    &__dl-row {
        margin-bottom: 4px;
    }
    &__dt {
        display: inline;
        color: #82868c;
    }
    &__dd {
        display: inline;
    }
    &__right {
        flex: calc(100% - 236px) 0 1;
        max-width: calc(100% - 236px);
    }
    &__btn-gray {
        padding: 8px 24px;
    }
    &__bottom {
        padding: 16px 16px 24px;
    }
    &__count {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__btn {
    }
    &__count-text {
        background: #6f64f8;
        border-radius: 7px;
        width: calc(100% - 96px);
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }
}

.card {
    &__item {
    }
    &__item-head {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 16px;
        .card__title {
            margin-bottom: 0;
        }
    }

    &__bottom-btns {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            margin: 0 12px;
        }
    }
}
.no-border {
    border: none;
    padding-bottom: 0;
}
.btn {
    &--invers {
    }
}
.btn-bg {
}
.pagination {
    &__btns {
    }
    &__btn {
    }
}
.icon-btn {
}
