.catalog {
    &__head {
        padding: 10px 16px 10px 16px;
    }
    &__head-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 8px;
    }
    &__head-left {
        flex: 50% 0 1;
        max-width: 50%;
        display: flex;
        align-items: center;
    }
    &__head-right {
        flex: 50% 0 1;
        max-width: 50%;
        display: flex;
        align-items: center;
    }
    &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
    }
    &__breadcrumbs {
        font-size: 12px;
        line-height: 15px;
        color: #bdbdbd;
        margin: 0 auto;
    }
    &__breadcrumbs-item {
        transition: color 0.3s ease;
        &:hover,
        &:focus {
            color: $linkHover;
        }
        &:active {
            color: $linkHover;
        }
        &:not(:last-child) {
            &:after {
                content: "/ ";
            }
        }
    }
    &__search {
    }
    &__filter-btn {
        appearance: none;
        background: transparent;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        span {
            margin-right: 8px;
        }
    }
    &__head-body {
        display: none;
    }
    &__head-inner {
        display: flex;
        flex-wrap: wrap;
        padding-top: 15px;
    }
    &__checkboxes {
        flex: 50% 0 1;
        max-width: 50%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &__checkbox {
        flex: 50% 0 1;
        max-width: 50%;

        margin-bottom: 8px;
        .tooltip {
            position: absolute;
            right: -25px;
            top: -2px;
        }
    }
    &__inputs {
        flex: 50% 0 1;
        max-width: 50%;
        display: flex;
        flex-wrap: wrap;
    }
    &__input-item {
        width: 210px;
        margin-right: 20px;
        margin-bottom: 16px;
    }
    &__price {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }
    &__price-title {
        font-size: 12px;
        line-height: 15px;
    }
    &__price-inputs {
        display: flex;
        align-items: center;
        background: #f7f7f7;
        border-radius: 6px;
        width: 210px;
        height: 36px;
        margin-left: 8px;
    }
    &__price-label {
        display: flex;
        flex: 50% 0 1;
        max-width: 50%;
        position: relative;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding: 0 25px 0 10px;
        &:not(:last-child) {
            border-right: 1px solid #e1e1e1;
        }
        input {
            width: 100%;
            text-align: center;
            background: transparent;
            appearance: none;
        }
        &:after {
            content: "₽";
            position: absolute;
            right: 10px;
        }
    }
    &__buttons {
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    &__btn {
        margin: 0 12.5px;
    }
    &__body {
        flex: 100%;
        display: flex;
        flex-direction: column;
    }
    &__cards {
        margin-bottom: 15px;
    }
}
.search {
    background: #f7f7f7;
    border-radius: 6px;
    max-width: 440px;
    width: 100%;
    margin-right: 30px;
    display: flex;
    align-items: center;
    margin-right: auto;
    &__label {
        padding: 0 0 0 24px;
        margin-right: auto;
        width: 100%;
        height: 36px;
        cursor: text;
        input {
            font-size: 12px;
            line-height: 15px;
            height: 100%;
            background: transparent;
            appearance: none;
        }
    }
    &__reset {
        font-size: 10px;
        line-height: 12px;
        text-decoration-line: underline;
        background: transparent;
        color: #9ca0a4;
    }
    &__btn {
        margin-left: 16px;
    }
}

.catalog {
    &__head-filters {
        display: flex;
        align-items: center;
        padding: 10px 0 0;
        width: 100%;
        color: #82868c;
    }
    &__filter-item {
        display: flex;
        align-items: center;
        margin-right: 16px;
    }
    &__filter-name {
        margin-right: 4px;
    }
    &__filter-del {
        border: 1px solid #82868c;
        background: transparent;
        width: 13px;
        height: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        fill: none;
        stroke: #82868c;
    }
}
