.modal {
    &__inner {
    }
    &__content {
    }
    &__body {
    }
    &__bottom {
    }
    &__btns {
        display: flex;
        align-items: center;
        justify-content: center;
        .btn {
            margin: 0 10px;
        }
    }
}
.modal {
    overflow: hidden;
}
@media (max-height: 770px) {
    .category-modal__title {
        margin-bottom: 10px;
    }
    .category-modal__file-load {
        margin: 20px 0 10px;
    }
    .category-modal__file-label {
        height: 150px;
    }
    .category-modal__file-btn {
        margin: 20px 0 0;
    }
    .category-modal__preview {
        width: 50px;
        height: 50px;
    }
}
.category-modal {
    .modal__body {
        padding-top: 0;
    }
    &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 40px;
    }
    &__file-input {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        top: 0;
        left: 0;

        z-index: 2;
        &:hover ~ .category-modal__file-label {
            border-color: $linkActive;
        }
    }
    &__input-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        &:hover,
        &.active {
            .category-modal__input {
                border-bottom: 1px solid #232323;
            }
            .category-modal__icon-btn {
                path {
                    stroke: #232323;
                }
            }
        }
    }
    &__label {
        width: 100%;
    }

    &__input {
        width: 100%;
        border-bottom: 1px solid #e1e1e1;
        padding: 4px 0;
        font-size: 14px;
        line-height: 17px;
        transition: all 0.3s ease;
        &:focus,
        &:active {
            border-bottom: 1px solid #232323;
        }
    }
    &__icon-btn {
        display: none;
        &.active {
            display: block;
        }
        position: absolute;
        width: 20px;
        height: 20px;
        right: 0;
        top: calc(50% - 10px);
        background-color: transparent;
        path {
            transition: all 0.3s ease;
            stroke: #e1e1e1;
        }
    }
    &__file-load {
        margin-top: 55px;
        position: relative;
        margin-bottom: 32px;
    }
    &__file-title {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 8px;
    }
    &__file-label {
        border: 1px dashed #e1e1e1;
        border-radius: 16px;
        width: 100%;
        height: 230px;
        display: block;
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        transition: all 0.2s ease;
        &.active {
            border-color: $linkActive;
        }
    }
    &__preview {
        width: 120px;
        height: 120px;
        margin: 10px auto;
        display: none;
    }
    &__file-text {
        padding-top: 8px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }
    &__file-btn {
        margin-top: auto;
        margin-bottom: auto;
        cursor: pointer;
    }
    &__file-icon {
        position: absolute;
        top: 16px;
        right: 16px;
    }
    &__link {
        position: absolute;
        bottom: 16px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        z-index: 2;
    }
    &__link-icon {
        margin-right: 8px;
    }
    &__link-text {
        color: #bdbdbd;
    }
    &__select-wrapper {
        margin-bottom: 48px;
    }
    &__select-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 455px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 16px;
        .custom-select-container {
            width: 210px;
        }
    }
    &__select-text {
    }
}
