.chanels {
    padding: 24px;
    &__top {
    }
    &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
        span {
            font-weight: normal;
        }
    }
    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 24px 0;
        border-bottom: 1px solid #e1e1e1;
    }
    &__item {
        width: 160px;
        margin: 0 30px;
        margin-bottom: 16px;
        label {
            display: block;
        }
    }
    &__img {
        display: block;
        margin-right: 8px;
        img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 6px;
        }
    }
    &__text {
        font-size: 14px;
        line-height: 17px;
    }
    &__checkbox {
        span {
            display: block;
        }
    }
    &__bottom {
        padding-top: 16px;
        display: flex;
        flex-direction: column;
    }
    &__control {
        margin-left: auto;
    }
    &__reset {
        margin-left: 24px;
        color: $linkActive;
        background: none;
        &:hover,
        &:focus,
        &:active {
            color: $linkHover;
        }
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.overlay {
    z-index: 1;
}
.modal {
    display: none;
    position: fixed;
    top: calc(50% + 40px);
    left: calc(50% + 120px);
    transform: translate(-50%, -50%);
    max-width: 650px;
    width: 100%;
    z-index: 2;
    &__inner {
        max-height: calc(100vh - 100px);
        overflow: auto;
        padding: 24px;
    }
    &__content {
        padding: 24px;
    }
    &__head {
        border-bottom: 1px solid #e1e1e1;
        display: flex;
        align-items: center;
        padding-bottom: 12px;
    }
    &__title {
        margin-right: 12px;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
    }
    &__name {
        margin-right: auto;
        font-size: 14px;
        line-height: 17px;
    }
    &__icon-btn {
        background-color: #fff;
        transition: all 0.3s ease;
        span::before {
            border-color: #232323;
        }
        path {
            stroke: #232323;
            transition: all 0.3s ease;
        }
        &:hover,
        &:focus {
            path {
                stroke: $btnClick;
            }
        }
        &:active {
            path {
                stroke: $btnClick;
            }
        }
    }
    &__body {
        padding-top: 28px;
        .chanels__list {
            justify-content: space-between;
        }
        .chanels__item {
            margin: 0 0 16px;
        }
        .chanels__control {
            margin-bottom: 18px;
        }
        .chanels__btn {
            button {
                margin: 0 10px;
            }
        }
    }
}
.text-center {
    text-align: center;
}

.items-center {
    justify-content: center;
    margin: 0 auto;
}
