.header {
    padding: 8px 16px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    // width: calc(100% - 285px);
    right: 0;
    z-index: 10;
    margin-bottom: 10px;

    &__left {
    }
    &__menu {
    }
    &__right {
        display: flex;
        align-items: center;
    }
    &__right-btns {
        display: flex;
        align-items: center;
    }
    &__btn-item {
        padding: 0 4px;
        position: relative;
    }
    &__btn {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
        border-radius: 6px;
        width: 36px;
        height: 36px;
    }

    &__btn-body {
        display: none;
        position: absolute;
        top: 0;
        left: 4px;
        width: 36px;
        padding: 36px 5px 0px 5px;
        z-index: -1;
        input:checked + .header__option,
        input:active + .header__option,
        input:focus + .header__option {
            background: $btnClick;
            color: #ffffff;
        }
    }
    &__option {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.71875px solid $btnClick;
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.04)), drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.06)),
            drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04));
        background: #fff;
        border-radius: 50%;
        color: $btnClick;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.03em;
        margin: 8px 0;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    &__avatar {
        margin-left: 28px;
    }
}
.menu {
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    &__list {
        display: flex;
        align-items: center;
    }
    &__burger-wrapper {
        display: none;
    }
    &__close {
        display: none;
        position: absolute;
        top: calc(50% - 15px);
        right: -20px;
        width: 20px;
        height: 20px;
        background: transparent;
        svg {
            width: 15px;
            height: 15px;
        }
    }
    &__burger {
        display: block;
        width: 60px;
        height: 34px;
        position: relative;
        background: transparent;
        span {
            display: block;
            width: 100%;
            height: 6px;
            background-color: $linkHover;
            position: absolute;
            border-radius: 6px;

            left: 0;
            &:first-child {
                top: 0;
            }
            &:nth-child(2) {
                top: calc(50% - 3px);
            }
            &:last-child {
                bottom: 0;
            }
        }
    }
    &__item {
        &:not(:last-child) {
            margin-right: 24px;
        }
        &--separetor {
            padding-right: 24px;
            border-right: 1px solid #e1e1e1;
        }
    }
    &__link {
        transition: color 0.3s ease;
        font-weight: 400;
        &:hover,
        &:focus {
            color: $linkHover;
        }
        &:active,
        &.active {
            color: $linkActive;
            font-weight: 500;
        }
        position: relative;
    }
    &__link-name {
    }
    &__link-icon {
        position: absolute;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(134.45deg, #7065f8 0%, #9b93fc 100%);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
        color: #ffffff;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.03em;
        border-radius: 50%;
        top: -10px;
        right: -10px;
    }
    &__icon {
        &--warning {
            background: linear-gradient(134.45deg, #fca12b 0%, #fab86a 100%);
        }
        &--danger {
            background: linear-gradient(134.45deg, #e55753 0%, #ec817f 100%);
        }
    }
    &__adaptive {
        position: relative;
        display: none;
    }

    &__adaptive-body {
        display: none;
        position: absolute;
        left: 0px;
        top: 45px;
        width: 240px;
        padding: 14px 30px 14px;
        font-size: 14px;
        line-height: 17px;
        max-height: calc(100vh - 71px);
        overflow: auto;
        z-index: 10;
        .menu__item {
            margin: 10px 0;
        }
    }
    &__adaptive-btn {
        margin-left: 0px;
    }
}
.avatar {
    position: relative;
    &__btn {
        border-radius: 50%;
        overflow: hidden;
    }
    &__inner {
    }
    &__body {
        position: absolute;
        right: -16px;
        top: 49px;
        display: none;
        width: 240px;
        padding: 24px 30px 14px;
        font-size: 14px;
        line-height: 17px;
        max-height: calc(100vh - 71px);
        overflow: auto;
    }
    &__personal {
        margin-bottom: 16px;
    }
    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        margin-bottom: 4px;
    }
    &__id {
        font-size: 12px;
        line-height: 15px;
        color: #82868c;
    }
    &__money {
        padding-bottom: 16px;
        border-bottom: 1px solid #e1e1e1;
        margin-bottom: 16px;
        p {
            margin-bottom: 8px;
        }
    }
    &__money-link {
    }
    &__menu {
        margin-bottom: 28px;
    }
    &__item {
        margin-bottom: 4px;
    }
    &__link {
        display: flex;
        align-items: center;
        margin: 0 -10px;
        padding: 6px 10px;
        border-radius: 6px;
        transition: padding 0.3s ease;
        &:hover,
        &:focus,
        &:active {
            padding-left: 15px;
        }
    }
    &__icon {
        margin-right: 16px;
        stroke: #232323;
        fill: none;
    }
    &__link-title {
    }
    &__log-out {
        background-color: #fff;
        color: $linkHover;
        display: flex;
        align-items: center;
        stroke: #232323;
        fill: none;
        span {
            margin-right: 8px;
        }
    }
}

.xl-block {
    @media (max-width: 1400px) {
        display: none;
    }
}

.menu__adaptive-link {
    margin: 0 4px;
}
