.inventory {
    padding: 10px 16px 10px 24px;
    margin: 10px 0 24px;
    &__inner {
        display: flex;
        align-items: center;
    }
    &__item {
        display: flex;
        align-items: center;
        &:first-child {
            margin-right: auto;
        }
    }
    &__title {
        font-size: 14px;
        line-height: 17px;
        padding-right: 16px;
        border-right: 1px solid #e1e1e1;
        margin-right: 16px;
    }
    &__inputs {
        display: flex;
        align-items: center;
    }
    &__select {
        margin-left: 8px;
        width: 210px;
    }
    &__checkbox {
    }
    &__btns {
        margin-left: 60px;
    }
    &__btn {
        &:not(:last-child) {
            margin-right: 16px;
        }
    }
}
