.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.link {
    color: $linkHover;
    transition: color 0.4s ease;
    &:hover,
    &:focus {
        color: $linkActive;
    }
    &:active {
        text-decoration: underline;
    }
}

.btn-bg {
    transition: all 0.6s ease;
    background: linear-gradient(
        134deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 33%,
        rgba(112, 101, 248, 1) 33%,
        rgba(155, 147, 252, 1) 66%,
        rgba(111, 100, 248, 1) 66%,
        rgba(111, 100, 248, 1) 100%
    );
    background-size: 600%;
    background-position: 0 0;

    path {
        transition: all 0.3s ease;
    }
    @media (hover), (min-width: 0\0), (min--moz-device-pixel-ratio: 0) {
        &:hover,
        &:focus {
            background-position: 50% 0;
            box-shadow: none;
            path {
                stroke: white;
            }
            color: white;
        }
        &:active {
            background-position: 100% 0;
            color: white;
            path {
                stroke: white;
            }
        }
    }
}
@keyframes bg {
    0% {
        background-position: 50% 0;
    }
    100% {
        background-position: 100% 0;
    }
}
.overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(35, 35, 35, 0.5);
}

.icon-btn {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    width: 36px;
    height: 36px;
    min-width: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 210px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #6f64f8;
    box-shadow: 0px 0px 0px 2px #6f64f8 inset;

    &--min {
        width: 110px;
        height: 32px;
        font-size: 12px;
        line-height: 15px;
    }
    &--invers {
        background-position: 50%;
        color: white;
        box-shadow: none;
        @media (hover), (min-width: 0\0), (min--moz-device-pixel-ratio: 0) {
            &:hover,
            &:focus {
                background-position: 100%;
                color: white;
            }
            &:active {
                background-position: 50%;
                color: white;
            }
        }
    }
}

.checkbox {
    padding-left: 24px;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
    input:checked + .checkbox__input::before {
        background: url("../images/icons/check.svg") center 3px no-repeat;
        background-color: #9c94fc;
    }
    &:hover input:checked + .checkbox__input::before,
    input:checked:focus + .checkbox__input::before {
        background-color: #6f64f8;
    }
    &:hover .checkbox__input::before,
    input:focus + .checkbox__input::before {
        border: 2px solid #6f64f8;
    }
    input:disabled + .checkbox__input::before {
        border: 2px solid #bdbdbd;
        background-color: #bdbdbd;
    }
    input:checked:disabled + .checkbox__input::before {
        background: url("../images/icons/check.svg") center 3px no-repeat;
        background-color: #bdbdbd;
    }
    &--inverse {
        input:checked + .checkbox__input::before {
            background: url("../images/icons/check-blue.svg") center 3px no-repeat;
            background-color: #eeedfe;
            border-color: #eeedfe;
        }
        .checkbox__input::before {
            border-color: #eff0f6;
        }
        &:hover input:checked + .checkbox__input::before,
        input:checked:focus + .checkbox__input::before {
            background-color: #eff0f6;
            border: 2px solid #eff0f6;
        }
        &:hover .checkbox__input::before,
        input:focus + .checkbox__input::before {
            border-color: #eeedfe;
        }
    }

    &--border-1 {
        .checkbox__input::before {
            border-width: 1px !important;
        }
    }
    &__input {
        display: inline-flex;
        align-items: center;
        position: relative;
        // span {
        //     position: absolute;
        //     right: -25px;
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        // }
        &::before {
            content: "";
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: -24px;
            top: calc(50% - 8px);
            border: 2px solid #9c94fc;
            border-radius: 2px;
            transition: background-color 0.3s ease, border-color 0.3s ease;
        }
    }
}

.btn-gray {
    background-color: #fff;
    border: 1px solid #82868c;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 24px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #82868c;
    transition: all 0.3s ease;

    path {
        transition: all 0.3s ease;
    }
    &:hover,
    &:focus {
        border-color: #6f64f8;
        color: #6f64f8;
        path {
            stroke: #6f64f8;
        }
    }
    &:active {
        color: #4133f4;
        border-color: #4133f4;
        path {
            stroke: #4133f4;
        }
    }
    &__icon {
        margin-right: 4px;
    }
    &__text {
    }
}

.rot-180 {
    transform: rotate(180deg);
}

.tooltip__templates {
    display: none;
}

.btn-checkbox {
    display: inline-flex;
    cursor: pointer;
    &:hover,
    &:focus {
        span::before {
            border-color: $btnClick;
        }
    }
    &:active {
        span::before {
            border-color: $btnClick;
        }
    }
    span {
        position: relative;
        &::before {
            display: block;
            position: absolute;
            top: 3px;
            left: 3px;
            content: "";
            width: 14px;
            height: 14px;
            border: 1px solid #82868c;
            border-radius: 2px;
            transition: opacity 0.3s ease;
        }
    }
    input:checked + span {
        &::before {
            opacity: 0;
        }
        svg {
            opacity: 1;
        }
    }
    svg {
        transition: all 0.3s ease;
        opacity: 0;
    }
}
