.catalog {
    &__mini-cards {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        margin-top: 15px;
        @media (max-width: 500px) {
            margin: 0 -5px;
        }
    }
}

.mini-card {
    flex: calc(20% - 30px) 0 1;
    max-width: calc(20% - 15px);
    @media (min-width: 2100px) {
        flex: calc(14.2% - 30px) 0 1;
        max-width: calc(14.2% - 15px);
    }
    @media (min-width: 1600px) {
        flex: calc(16.666% - 30px) 0 1;
        max-width: calc(16.666% - 15px);
    }
    @media (max-width: 1200px) {
        flex: calc(25% - 30px) 0 1;
        max-width: calc(25% - 15px);
    }
    @media (max-width: 900px) {
        flex: calc(33.333% - 30px) 0 1;
        max-width: calc(33.333% - 15px);
    }
    @media (max-width: 700px) {
        flex: calc(50% - 30px) 0 1;
        max-width: calc(50% - 15px);
    }
    @media (max-width: 500px) {
        flex: calc(50% - 10px) 0 1;
        max-width: calc(50% - 5px);
        margin: 0 5px 10px;
    }
    margin: 0 15px;
    margin-bottom: 16px;
    overflow: hidden;
    &__img {
        img {
            width: 100%;
            height: 140px;
            object-fit: cover;
        }
        position: relative;
    }
    &__corner {
        background: rgba(35, 35, 35, 0.7);
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 0 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 32px;
        min-height: 32px;
        &--padding {
            padding: 3px 0;
        }
    }
    &__checkbox {
    }
    &__icon-btn {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3px 0;
        span::before {
            border-color: #eeedfe;
        }
        &:hover,
        &:focus {
            path {
                stroke: #eff0f6;
            }
            span::before {
                border-color: #eff0f6;
            }
        }
    }
    &__checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        padding: 0;
        span {
            display: block;
            width: 16px;
            height: 16px;
            &::before {
                top: 0;
                left: 0;
                border-color: white;
            }
        }
    }
    &__body {
        padding: 10px 14px;
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;
    }
    &__title {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        max-width: calc(100% - 24px);
    }
    &__like {
        cursor: pointer;
        input {
            &:checked {
                + svg {
                    path {
                        fill: #e55652;
                    }
                }
            }
        }
        svg {
            path {
                fill: none;
                transition: all 0.4s ease;
            }
        }
    }
    &__link {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
    }
}
