.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 18px;
    margin-top: auto;
    margin-bottom: 15px;
    &__btns {
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
    &__btn {
        margin: 0 4px;
    }
    &__links {
        margin: 0 10px;
    }
    &__link {
        margin: 0 10px;
        transition: color 0.3s ease;
        &.active,
        &:hover,
        &:focus {
            color: $linkHover;
            text-decoration: underline;
        }
        &:active {
            color: $linkActive;
            text-decoration: none;
        }
    }
    &__select {
        display: flex;
        align-items: center;
        padding-right: 0px;
        position: relative;

        select {
            width: 40px;
            font-size: 12px;
            line-height: 15px;
            color: $linkActive;
            text-decoration: underline;
            appearance: none;
            border-color: transparent;
            position: relative;
        }
    }
    &__select-text {
        font-size: 12px;
        line-height: 15px;
    }
    &__select-arrow {
        background: url(../images/icons/dropdown.svg) center no-repeat;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: calc(50% - 10px);
        z-index: 1;
        pointer-events: none;
    }
}
.body {
    &__block {
    }
}
