.custom-select-container.is-open .custom-select-panel {
    overflow: hidden;
    max-height: 500px;
    background: #fff;
}
.custom-select-container .custom-select-panel {
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 0 0 6px 6px;
}

.custom-select-option {
    border-radius: 6px;
    transition: all 0.3s ease;
    height: 36px;
    display: flex;
    align-items: center;
    padding-left: 24px;
}
.custom-select-option.is-selected {
    background: $btnClick;
    color: white;
}
.custom-select-option.has-focus {
    background: $btnClick;
    color: white;
}
.custom-select-container {
    font-size: 12px;
    line-height: 15px;
    background-color: #fff;
}
.custom-select-option.is-selected::before {
    content: none;
}
.custom-select-opener {
    height: 36px;
    padding: 10px 24px;
    background: #f7f7f7;
    border-radius: 6px;
    position: relative;
    @media (hover), (min-width: 0\0), (min--moz-device-pixel-ratio: 0) {
        &:hover:after,
        &:focus:after {
            background-position: 50% 0;
            path {
                stroke: white;
            }
            content: url(../images/icons/dropdown-white.svg);
            color: white;
        }
        &:active:after {
            background-position: 100% 0;
            color: white;
            content: url(../images/icons/dropdown-white.svg);
            path {
                stroke: white;
            }
        }
    }
    &:after {
        content: url(../images/icons/dropdown.svg);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
        border-radius: 6px;
        width: 36px;
        height: 36px;
        transition: all 0.6s ease;
        background: linear-gradient(
            134deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 1) 33%,
            rgba(112, 101, 248, 1) 33%,
            rgba(155, 147, 252, 1) 66%,
            rgba(111, 100, 248, 1) 66%,
            rgba(111, 100, 248, 1) 100%
        );
        background-size: 600%;
        background-position: 0 0;
        path {
            transition: all 0.3s ease;
        }
    }
}

.scrollbar-outer > .scroll-content.scroll-scrolly_visible {
    left: 0;
    margin-left: 0;
}

.tooltipster-sidetip .tooltipster-box {
    background: #f8f8f8;

    border: 1px solid #bdbdbd;
}
.tooltipster-sidetip .tooltipster-content {
    color: black;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
    border-top-color: #bdbdbd;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #f8f8f8;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
    top: -1px;
}

.aside .scroll-element {
    opacity: 0;
    transition: opacity 0.2s ease;
}
.aside:hover {
    .scroll-element {
        opacity: 1;
    }
}
