@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    font-weight: $weight;
    font-style: $style;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
  }
}

$dropHover: #eeedfe;
$dropClick: #dfddff;
$btnHover: linear-gradient(134.45deg, #7065f8 0%, #9b93fc 100%);
$btnClick: #6f64f8;
$linkHover: #6f64f8;
$linkActive: #4133f4;
