include partials/mixins
aside.aside
    .aside__inner
        .aside__head 
            a(href='/').aside__logo
                img(src="./images/logo.svg" width='171' height='54' alt='IDP logo').logo
                img(src="./images/logo-min.svg" width='36' height='19' alt='IDP logo').logo-min

            button(aria-label='Закрыть меню' title='Закрыть меню').menu__close
                +icon("cross")
        .aside__body-wrapper.scrollbar-outer
            nav.aside__body.aside-menu
                ul.aside-menu__list        
                    li.aside-menu__item 
                        .aside-menu__head
                            a(href="/").aside-menu__icon
                                +icon('basket')
                            a(href="/").aside-menu__link Товары
                            button(aria-label='Показать все' title='Показать все').aside-menu__btn.arrow-btn
                                +icon('dropdown')
                        ul.aside-menu__submenu 
                            li.aside-menu__subitem 
                                a(href="/").aside-menu__sublink
                                    span  Каталог
                            li.aside-menu__subitem 
                                a(href="/").aside-menu__sublink
                                    span  Инвентари
                            li.aside-menu__subitem 
                                a(href="/").aside-menu__sublink
                                    span  Избранное
                            li.aside-menu__subitem 
                                a(href="/").aside-menu__sublink
                                    span  Проблемные товары
                            li.aside-menu__subitem 
                                a(href="/").aside-menu__sublink
                                    span  Импорт
                            li.aside-menu__subitem 
                                a(href="/").aside-menu__sublink
                                    span  Экспорт
                            li.aside-menu__subitem 
                                a(href="/").aside-menu__sublink
                                    span  Ценовые правила
                            li.aside-menu__subitem 
                                a(href="/").aside-menu__sublink
                                    span  Каналы сбыта
                    li.aside-menu__item 
                        .aside-menu__head
                            a(href="/").aside-menu__icon
                                +icon('orders')
                            a(href="/").aside-menu__link Заказы
                            button(aria-label='Показать все' title='Показать все').aside-menu__btn.arrow-btn
                                +icon('dropdown')
                        ul.aside-menu__submenu 
                            li.aside-menu__subitem 
                                a(href="/").aside-menu__sublink
                                    span  Корзина
                            li.aside-menu__subitem 
                                a(href="/").aside-menu__sublink
                                    span  Новые
                            li.aside-menu__subitem 
                                a(href="/").aside-menu__sublink
                                    span  Активные заказы
                            li.aside-menu__subitem 
                                a(href="/").aside-menu__sublink
                                    span  Выполненные
                            li.aside-menu__subitem 
                                a(href="/").aside-menu__sublink
                                    span  Отмененные
                            li.aside-menu__subitem 
                                a(href="/").aside-menu__sublink
                                    span  Финансы
                            li.aside-menu__subitem 
                                a(href="/").aside-menu__sublink
                                    span  ТТН
                    li.aside-menu__item 
                        a(href="/").aside-menu__head
                            .aside-menu__icon
                                +icon('posting')
                            .aside-menu__link Отложенный постинг
                    li.aside-menu__item 
                        a(href="/").aside-menu__head
                            .aside-menu__icon
                                +icon('synchronization')
                            .aside-menu__link Синхронизации
                    li.aside-menu__item 
                        a(href="/").aside-menu__head
                            .aside-menu__icon
                                +icon('message')
                            .aside-menu__link Сообщения
                    li.aside-menu__item 
                        a(href="/").aside-menu__head
                            .aside-menu__icon
                                +icon('employee')
                            .aside-menu__link Сотрудники
                    li.aside-menu__item 
                        .aside-menu__head
                            a(href="/").aside-menu__icon
                                +icon('settings')
                            a(href="/").aside-menu__link Настройки
                            button(aria-label='Показать все' title='Показать все').aside-menu__btn.arrow-btn
                                +icon('dropdown')
                        ul.aside-menu__submenu 
                            li.aside-menu__subitem 
                                a(href="/").aside-menu__sublink
                                    span  Профиль
                            li.aside-menu__subitem 
                                a(href="/").aside-menu__sublink
                                    span  Социальные сети
                            li.aside-menu__subitem 
                                a(href="/").aside-menu__sublink
                                    span  Пополнить баланс
                            li.aside-menu__subitem 
                                a(href="/").aside-menu__sublink
                                    span  Мои счета
                            li.aside-menu__subitem 
                                a(href="/").aside-menu__sublink
                                    span  Уведомления
                    li.aside-menu__item 
                        a(href="/").aside-menu__head
                            .aside-menu__icon
                                +icon('stoplist')
                            .aside-menu__link Черный список
                    li.aside-menu__item 
                        a(href="/").aside-menu__head
                            .aside-menu__icon
                                +icon('news')
                            .aside-menu__link Новости
                    li.aside-menu__item 
                        .aside-menu__head
                            a(href="/").aside-menu__icon
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.66663 6.6665C6.66663 6.00346 6.97392 5.36758 7.5209 4.89874C8.06788 4.4299 8.80974 4.1665 9.58329 4.1665H10.4166C11.1902 4.1665 11.932 4.4299 12.479 4.89874C13.026 5.36758 13.3333 6.00346 13.3333 6.6665C13.364 7.20755 13.218 7.74392 12.9174 8.19482C12.6168 8.64572 12.1779 8.98673 11.6666 9.1665C11.1554 9.40619 10.7164 9.86088 10.4158 10.4621C10.1152 11.0633 9.96927 11.7784 9.99996 12.4998" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M10 15.8335V15.8418" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            a(href="/").aside-menu__link Помощь
                            button(aria-label='Показать все' title='Показать все').aside-menu__btn.arrow-btn
                                +icon('dropdown')
                        ul.aside-menu__submenu 
                            li.aside-menu__subitem 
                                a(href="/").aside-menu__sublink
                                    span  Частые вопросы
                            li.aside-menu__subitem 
                                a(href="/").aside-menu__sublink
                                    span  Техподдержка







