article.card.body__block
    .card__head
        button.btn-gray.card__head-btn
            span.btn-gray__icon 
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.49992 5.83301H4.99992C4.55789 5.83301 4.13397 6.0086 3.82141 6.32116C3.50885 6.63372 3.33325 7.05765 3.33325 7.49967V14.9997C3.33325 15.4417 3.50885 15.8656 3.82141 16.1782C4.13397 16.4907 4.55789 16.6663 4.99992 16.6663H12.4999C12.9419 16.6663 13.3659 16.4907 13.6784 16.1782C13.991 15.8656 14.1666 15.4417 14.1666 14.9997V12.4997" stroke="#82868C" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M7.5 12.5H10L17.0833 5.41669C17.4149 5.08517 17.6011 4.63553 17.6011 4.16669C17.6011 3.69785 17.4149 3.24821 17.0833 2.91669C16.7518 2.58517 16.3022 2.39893 15.8333 2.39893C15.3645 2.39893 14.9149 2.58517 14.5833 2.91669L7.5 10V12.5Z" stroke="#82868C" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.3333 4.16699L15.8333 6.66699" stroke="#82868C" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            span.btn-gray__text Редактировать

        button.btn-gray.card__head-btn
            span.btn-gray__icon 
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.5 5.85786 14.1421 2.5 10 2.5C5.85786 2.5 2.5 5.85786 2.5 10C2.5 14.1421 5.85786 17.5 10 17.5Z" stroke="#82868C" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10 6.66699H10.0083" stroke="#82868C" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9.16675 10H10.0001V13.3333H10.8334" stroke="#82868C" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            span.btn-gray__text Все&nbsp;характеристики
        .card__icons-btns
            label(aria-label='check' title='check').card__icon-btn.btn-checkbox
                input(type="checkbox" ).visually-hidden
                span
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.5 9.16667L10 11.6667L16.6667 5" stroke="#82868C" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M16.6663 10.0002V15.0002C16.6663 15.4422 16.4907 15.8661 16.1782 16.1787C15.8656 16.4912 15.4417 16.6668 14.9997 16.6668H4.99967C4.55765 16.6668 4.13372 16.4912 3.82116 16.1787C3.5086 15.8661 3.33301 15.4422 3.33301 15.0002V5.00016C3.33301 4.55814 3.5086 4.13421 3.82116 3.82165C4.13372 3.50909 4.55765 3.3335 4.99967 3.3335H12.4997" stroke="#82868C" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            button(aria-label='delete' title='delete').card__icon-btn 
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.33301 5.8335H16.6663" stroke="#82868C" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M8.33301 9.1665V14.1665" stroke="#82868C" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M11.667 9.1665V14.1665" stroke="#82868C" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.16699 5.8335L5.00033 15.8335C5.00033 16.2755 5.17592 16.6994 5.48848 17.012C5.80104 17.3246 6.22496 17.5002 6.66699 17.5002H13.3337C13.7757 17.5002 14.1996 17.3246 14.5122 17.012C14.8247 16.6994 15.0003 16.2755 15.0003 15.8335L15.8337 5.8335" stroke="#82868C" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M7.5 5.83333V3.33333C7.5 3.11232 7.5878 2.90036 7.74408 2.74408C7.90036 2.5878 8.11232 2.5 8.33333 2.5H11.6667C11.8877 2.5 12.0996 2.5878 12.2559 2.74408C12.4122 2.90036 12.5 3.11232 12.5 3.33333V5.83333" stroke="#82868C" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
    .card__item
        h2.card__title Музыкальная система MARSHALL Acoustic Premium 
        .card__body 
            .card__left 
                figure.card__img 
                    img(src="./images/example.jpg" alt="Музыкальная система MARSHALL Acoustic Premium" width='220' height='175')
                    figcaption.card__id Артикул: 4958362
                .card__descr-mobile 
                    dl.card__dl
                        .card__dl-row    
                            dt.card__dt Тип:
                            dd.card__dd Стационарные
                        .card__dl-row    
                            dt.card__dt Назначение:
                            dd.card__dd Комплект акустики	
                        .card__dl-row    
                            dt.card__dt Тип акустической системы:
                            dd.card__dd Пассивная
                        .card__dl-row    
                            dt.card__dt Мощность:
                            dd.card__dd 6
                        .card__dl-row    
                            dt.card__dt Максимальная мощность:
                            dd.card__dd 6
                        .card__dl-row    
                            dt.card__dt Чувствительность:
                            dd.card__dd 70
                        .card__dl-row    
                            dt.card__dt Минимальная частота:
                            dd.card__dd 85
                        .card__dl-row    
                            dt.card__dt Максимальная частота:
                            dd.card__dd 18000
                        .card__dl-row    
                            dt.card__dt Материал корпуса:
                            dd.card__dd Дерево
                        .card__dl-row    
                            dt.card__dt Цвет корпуса:
                            dd.card__dd Коричневый
                        .card__dl-row    
                            dt.card__dt Состояние:
                            dd.card__dd Новое
                        .card__dl-row    
                            dt.card__dt Количество динамиков:
                            dd.card__dd 2
                        .card__dl-row    
                            dt.card__dt Импеданс:
                            dd.card__dd 4
                        .card__dl-row    
                            dt.card__dt Ширина:
                            dd.card__dd 85
                        .card__dl-row    
                            dt.card__dt Высота:
                            dd.card__dd 150
                dl.card__dl
                    .card__dl-row    
                        dt.card__dt Производитель:
                        dd.card__dd Китай
                    .card__dl-row    
                        dt.card__dt Материал:
                        dd.card__dd кожа
                    .card__dl-row    
                        dt.card__dt РРЦ:
                        dd.card__dd 4950
                    .card__dl-row    
                        dt.card__dt Дроп. Цена:
                        dd.card__dd 3950
                    .card__dl-row    
                        dt.card__dt Розница:
                        dd.card__dd 1000

            .card__right
                dl.card__dl.card__descr-desktop
                    .card__dl-row    
                        dt.card__dt Тип:
                        dd.card__dd Стационарные
                    .card__dl-row    
                        dt.card__dt Назначение:
                        dd.card__dd Комплект акустики	
                    .card__dl-row    
                        dt.card__dt Тип акустической системы:
                        dd.card__dd Пассивная
                    .card__dl-row    
                        dt.card__dt Мощность:
                        dd.card__dd 6
                    .card__dl-row    
                        dt.card__dt Максимальная мощность:
                        dd.card__dd 6
                    .card__dl-row    
                        dt.card__dt Чувствительность:
                        dd.card__dd 70
                    .card__dl-row    
                        dt.card__dt Минимальная частота:
                        dd.card__dd 85
                    .card__dl-row    
                        dt.card__dt Максимальная частота:
                        dd.card__dd 18000
                    .card__dl-row    
                        dt.card__dt Материал корпуса:
                        dd.card__dd Дерево
                    .card__dl-row    
                        dt.card__dt Цвет корпуса:
                        dd.card__dd Коричневый
                    .card__dl-row    
                        dt.card__dt Состояние:
                        dd.card__dd Новое
                    .card__dl-row    
                        dt.card__dt Количество динамиков:
                        dd.card__dd 2
                    .card__dl-row    
                        dt.card__dt Импеданс:
                        dd.card__dd 4
                    .card__dl-row    
                        dt.card__dt Ширина:
                        dd.card__dd 85
                    .card__dl-row    
                        dt.card__dt Высота:
                        dd.card__dd 150
                button.btn-gray.card__btn-gray 
                    span.btn-gray__icon 
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.5 5.85786 14.1421 2.5 10 2.5C5.85786 2.5 2.5 5.85786 2.5 10C2.5 14.1421 5.85786 17.5 10 17.5Z" stroke="#82868C" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10 6.66699H10.0083" stroke="#82868C" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.16675 10H10.0001V13.3333H10.8334" stroke="#82868C" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    span.btn-gray__text Все характеристики
    .card__bottom 
        .card__count 
            button(aria-label='Уменьшить количество' title='Уменьшить количество').card__btn.icon-btn.btn-bg.js-dec 
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.5 5.85786 14.1421 2.5 10 2.5C5.85786 2.5 2.5 5.85786 2.5 10C2.5 14.1421 5.85786 17.5 10 17.5Z" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M7.5 10H12.5" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            p.card__count-text
                span В корзине:&nbsp;
                span.card__count-output 3 
            button(aria-label='Увеличить количество' title='Увеличить количество').card__btn.icon-btn.btn-bg.js-inc
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.5 5.85786 14.1421 2.5 10 2.5C5.85786 2.5 2.5 5.85786 2.5 10C2.5 14.1421 5.85786 17.5 10 17.5Z" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M7.5 10H12.5" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10 7.5V12.5" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

