.catalog
    form.catalog__head.body__block.slide-toggle
        .catalog__head-top
            .catalog__head-left
                h1.catalog__title Каталог товаров 
                p.catalog__breadcrumbs
                    a(href='/').catalog__breadcrumbs-item Категория 1  
                    a(href='/').catalog__breadcrumbs-item Раздел 1 
                    a(href='/').catalog__breadcrumbs-item Подраздел 1 
                    a(href='/').catalog__breadcrumbs-item Товары 
            .catalog__head-right
                .catalog__search.search 
                    label.search__label  
                        input(type='text' inputmode='search' id='search' name='search' placeholder='Найти товар')
                    button(type='button').search__reset Очистить
                    button(type="submit" aria-label='Найти' title='Найти').search__btn.icon-btn.btn-bg
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.33333 14.1667C11.555 14.1667 14.1667 11.555 14.1667 8.33333C14.1667 5.11167 11.555 2.5 8.33333 2.5C5.11167 2.5 2.5 5.11167 2.5 8.33333C2.5 11.555 5.11167 14.1667 8.33333 14.1667Z" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M17.5 17.5L12.5 12.5" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                button(type='button').catalog__filter-btn.slide-toggle__btn
                    span Фильтр
                    +icon("dropdown")
        .catalog__head-body.slide-toggle__body 
            .catalog__head-inner
                .catalog__checkboxes
                    label.catalog__checkbox.checkbox
                        input(type="checkbox" name='random').visually-hidden   
                        span.checkbox__input В избранном
                    label.catalog__checkbox.checkbox
                        input(type="checkbox").visually-hidden
                        span.checkbox__input Пополнения товаров
                    label.catalog__checkbox.checkbox
                        input(type="checkbox").visually-hidden
                        span.checkbox__input В наличии
                    label.catalog__checkbox.checkbox
                        input(type="checkbox").visually-hidden
                        span.checkbox__input Распродажа
                    label.catalog__checkbox.checkbox
                        input(type="checkbox").visually-hidden
                        span.checkbox__input Скрыть товары в инвентарях
                    label.catalog__checkbox.checkbox
                        input(type="checkbox").visually-hidden
                        span.checkbox__input Новинки
                    label.catalog__checkbox.checkbox
                        input(type="checkbox").visually-hidden
                        span.checkbox__input Мои товары
                            span(data-tooltip-content="#tooltip__content").tooltip
                                +icon('info')
                    label.catalog__checkbox.checkbox
                        input(type="checkbox").visually-hidden
                        span.checkbox__input Проблемные товары
                    label.catalog__checkbox.checkbox
                        input(type="checkbox").visually-hidden
                        span.checkbox__input С наложенным платежом
                .catalog__inputs 
                    .catalog__input-item 
                        select(name="chanel").custom
                            option(value="val1") Канал сбыта
                            option(value="val1") Value 2 
                            option(value="val1") Value 3 
                            option(value="val1") Value 4 
                            option(value="val1") Value 5 
                    .catalog__input-item 
                        select(name="chanel").custom
                            option(value="val1") Инвентарь
                            option(value="val1") Value 2 
                            option(value="val1") Value 3 
                            option(value="val1") Value 4 
                            option(value="val1") Value 5 
                    .catalog__input-item 
                        select(name="chanel").custom
                            option(value="val1") Бренд
                            option(value="val1") Value 2 
                            option(value="val1") Value 3 
                            option(value="val1") Value 4 
                            option(value="val1") Value 5 
                    .catalog__price 
                        p.catalog__price-title Цена от | до 
                        .catalog__price-inputs
                            label.catalog__price-label
                                input(type="text" name="for" value='50')
                            label.catalog__price-label
                                input(type="text" name="to" value='500')
                .catalog__buttons 
                    button(type='submit').catalog__btn.btn.btn--invers.btn-bg Применить фильтр
                    button(type='reset').catalog__btn.btn.btn-bg Очистить фильтр
        .catalog__head-filters
            .catalog__filter-item 
                p.catalog__filter-name Инвентарь 1
                button(aria-label='Удалить' title='Удалить').catalog__filter-del 
                    +icon('cross')
            .catalog__filter-item 
                p.catalog__filter-name Инвентарь 1
                button(aria-label='Удалить' title='Удалить').catalog__filter-del 
                    +icon('cross')
            .catalog__filter-item 
                p.catalog__filter-name Инвентарь 1
                button(aria-label='Удалить' title='Удалить').catalog__filter-del 
                    +icon('cross')
            .catalog__filter-item 
                p.catalog__filter-name Инвентарь 1
                button(aria-label='Удалить' title='Удалить').catalog__filter-del 
                    +icon('cross')
            .catalog__filter-item 
                p.catalog__filter-name Инвентарь 1
                button(aria-label='Удалить' title='Удалить').catalog__filter-del 
                    +icon('cross')
            .catalog__filter-item 
                p.catalog__filter-name Инвентарь 1
                button(aria-label='Удалить' title='Удалить').catalog__filter-del 
                    +icon('cross')

.tooltip__templates
    p#tooltip__content   Всплывающее окно <br> Подсказка.<br>Может состоять из:<br>— 1<br>— двух<br>— даже трех пунктов!
