ul.chanels__list
    li.chanels__item 
        label.checkbox
            input(type="checkbox").visually-hidden
            span.checkbox__input.chanels__checkbox
                span.chanels__img 
                    img(src="./images/chanels-img.png" alt="chanel")
                span.chanels__text Prom
    li.chanels__item 
        label.checkbox
            input(type="checkbox").visually-hidden
            span.checkbox__input.chanels__checkbox
                span.chanels__img 
                    img(src="./images/chanels-img.png" alt="chanel")
                span.chanels__text Prom
    li.chanels__item 
        label.checkbox
            input(type="checkbox").visually-hidden
            span.checkbox__input.chanels__checkbox
                span.chanels__img 
                    img(src="./images/chanels-img.png" alt="chanel")
                span.chanels__text Prom
    li.chanels__item 
        label.checkbox
            input(type="checkbox").visually-hidden
            span.checkbox__input.chanels__checkbox
                span.chanels__img 
                    img(src="./images/chanels-img.png" alt="chanel")
                span.chanels__text Prom
    li.chanels__item 
        label.checkbox
            input(type="checkbox").visually-hidden
            span.checkbox__input.chanels__checkbox
                span.chanels__img 
                    img(src="./images/chanels-img.png" alt="chanel")
                span.chanels__text Prom
    li.chanels__item 
        label.checkbox
            input(type="checkbox").visually-hidden
            span.checkbox__input.chanels__checkbox
                span.chanels__img 
                    img(src="./images/chanels-img.png" alt="chanel")
                span.chanels__text Prom
    li.chanels__item 
        label.checkbox
            input(type="checkbox").visually-hidden
            span.checkbox__input.chanels__checkbox
                span.chanels__img 
                    img(src="./images/chanels-img.png" alt="chanel")
                span.chanels__text Prom
    li.chanels__item 
        label.checkbox
            input(type="checkbox").visually-hidden
            span.checkbox__input.chanels__checkbox
                span.chanels__img 
                    img(src="./images/chanels-img.png" alt="chanel")
                span.chanels__text Prom
    li.chanels__item 
        label.checkbox
            input(type="checkbox").visually-hidden
            span.checkbox__input.chanels__checkbox
                span.chanels__img 
                    img(src="./images/chanels-img.png" alt="chanel")
                span.chanels__text Prom
    li.chanels__item 
        label.checkbox
            input(type="checkbox").visually-hidden
            span.checkbox__input.chanels__checkbox
                span.chanels__img 
                    img(src="./images/chanels-img.png" alt="chanel")
                span.chanels__text Prom
    li.chanels__item 
        label.checkbox
            input(type="checkbox").visually-hidden
            span.checkbox__input.chanels__checkbox
                span.chanels__img 
                    img(src="./images/chanels-img.png" alt="chanel")
                span.chanels__text Prom
    li.chanels__item 
        label.checkbox
            input(type="checkbox").visually-hidden
            span.checkbox__input.chanels__checkbox
                span.chanels__img 
                    img(src="./images/chanels-img.png" alt="chanel")
                span.chanels__text Prom
    li.chanels__item 
        label.checkbox
            input(type="checkbox").visually-hidden
            span.checkbox__input.chanels__checkbox
                span.chanels__img 
                    img(src="./images/chanels-img.png" alt="chanel")
                span.chanels__text Prom
    li.chanels__item 
        label.checkbox
            input(type="checkbox").visually-hidden
            span.checkbox__input.chanels__checkbox
                span.chanels__img 
                    img(src="./images/chanels-img.png" alt="chanel")
                span.chanels__text Prom
    li.chanels__item 
        label.checkbox
            input(type="checkbox").visually-hidden
            span.checkbox__input.chanels__checkbox
                span.chanels__img 
                    img(src="./images/chanels-img.png" alt="chanel")
                span.chanels__text Prom
    li.chanels__item 
        label.checkbox
            input(type="checkbox").visually-hidden
            span.checkbox__input.chanels__checkbox
                span.chanels__img 
                    img(src="./images/chanels-img.png" alt="chanel")
                span.chanels__text Prom
    li.chanels__item 
        label.checkbox
            input(type="checkbox").visually-hidden
            span.checkbox__input.chanels__checkbox
                span.chanels__img 
                    img(src="./images/chanels-img.png" alt="chanel")
                span.chanels__text Prom
    li.chanels__item 
        label.checkbox
            input(type="checkbox").visually-hidden
            span.checkbox__input.chanels__checkbox
                span.chanels__img 
                    img(src="./images/chanels-img.png" alt="chanel")
                span.chanels__text Prom
    li.chanels__item 
        label.checkbox
            input(type="checkbox").visually-hidden
            span.checkbox__input.chanels__checkbox
                span.chanels__img 
                    img(src="./images/chanels-img.png" alt="chanel")
                span.chanels__text Prom
    li.chanels__item 
        label.checkbox
            input(type="checkbox").visually-hidden
            span.checkbox__input.chanels__checkbox
                span.chanels__img 
                    img(src="./images/chanels-img.png" alt="chanel")
                span.chanels__text Prom
    li.chanels__item 
        label.checkbox
            input(type="checkbox").visually-hidden
            span.checkbox__input.chanels__checkbox
                span.chanels__img 
                    img(src="./images/chanels-img.png" alt="chanel")
                span.chanels__text Prom
