head
   meta(charset="UTF-8")
   meta(name="viewport" content="width=device-width, initial-scale=1.0")
   meta(name="description" content="")
   //- link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
   link(rel="stylesheet" href="css/libs.min.css")
   link(rel="stylesheet" href="css/style.min.css")
   link(rel="preconnect" href="https://fonts.gstatic.com")
   link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet")
   title Document