.inventory.body__block 
    .inventory__inner 
        .inventory__item
            p.inventory__title Инвентарь 
            .inventory__inputs 
                button(aria-labe='Добавить' title='Добавить').open-modal.icon-btn.btn-bg 
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 4.1665V15.8332" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.16675 10H15.8334" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                .inventory__select 
                    select(name="inventory").custom
                        option(value="val1")   Выбрать инвентарь
                        option(value="val2")   Выбрать инвентарь
                        option(value="val3")   Выбрать инвентарь
                        option(value="val4")   Выбрать инвентарь
                        option(value="val5")   Выбрать инвентарь
                        option(value="val6")   Выбрать инвентарь
        .inventory__item 
            p.inventory__title Товары
            label.inventory__checkbox.checkbox
                input(type='checkbox').visually-hidden 
                span.checkbox__input Выделить все товары
        .inventory__btns 
            button.inventory__btn.btn.btn-bg.btn--invers.btn--min Добавить
            button.inventory__btn.btn.btn-bg.btn--min Удалить