mixin mini-card(imgName) 
    article.mini-card.body__block 
        .mini-card__img 
            img(src="./images/"+imgName + ".jpg" alt="example")
            .mini-card__corner
                label.mini-card__checkbox.checkbox.checkbox--inverse
                    input(type='checkbox').visually-hidden
                    span.checkbox__input  
        .mini-card__body 
            .mini-card__row
                h3.mini-card__title Обувь: спортивная, зимняя, летняя (2049)
                label.mini-card__like
                    input(type="checkbox").visually-hidden
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.75009 11.3101L10.0001 17.5001L16.2501 11.3151C16.6592 10.9133 16.9809 10.4313 17.1952 9.89944C17.4095 9.36756 17.5117 8.79718 17.4953 8.22399C17.479 7.6508 17.3446 7.08715 17.1004 6.56831C16.8563 6.04947 16.5077 5.58661 16.0764 5.2087C15.6451 4.83079 15.1405 4.54597 14.5941 4.37206C14.0477 4.19815 13.4712 4.13889 12.9009 4.198C12.3305 4.25711 11.7785 4.43331 11.2793 4.71557C10.7802 4.99783 10.3447 5.38008 10.0001 5.8384C9.65696 5.37673 9.22196 4.99111 8.72249 4.70582C8.22301 4.42053 7.66986 4.24175 7.0979 4.18073C6.52593 4.11972 5.94752 4.17779 5.3991 4.3513C4.85068 4.52481 4.34412 4.80999 3.91133 5.18888C3.47853 5.56778 3.12888 6.03218 2.88439 6.55285C2.63989 7.07351 2.50585 7.63916 2.4907 8.21418C2.47556 8.78919 2.57963 9.36111 2.79638 9.89393C3.01312 10.4267 3.33784 10.9089 3.75009 11.3101Z" fill="#E55652"/>
                        <path d="M16.2501 11.3101L10.0001 17.5001M10.0001 17.5001L3.75009 11.3101C3.33784 10.9089 3.01312 10.4267 2.79638 9.89393C2.57963 9.36111 2.47556 8.78919 2.4907 8.21418C2.50585 7.63916 2.63989 7.07351 2.88439 6.55285C3.12888 6.03218 3.47853 5.56778 3.91133 5.18888C4.34412 4.80999 4.85068 4.52481 5.3991 4.3513C5.94752 4.17779 6.52593 4.11972 7.0979 4.18073C7.66986 4.24175 8.22301 4.42053 8.72248 4.70582C9.22196 4.99111 9.65696 5.37673 10.0001 5.8384C10.3447 5.38008 10.7802 4.99783 11.2793 4.71557C11.7785 4.43331 12.3305 4.25711 12.9009 4.198C13.4712 4.13889 14.0477 4.19815 14.5941 4.37206C15.1405 4.54597 15.6451 4.83079 16.0764 5.2087C16.5077 5.58661 16.8563 6.04947 17.1004 6.56831C17.3446 7.08715 17.479 7.6508 17.4953 8.22399C17.5117 8.79718 17.4095 9.36756 17.1952 9.89944C16.9809 10.4313 16.6592 10.9133 16.2501 11.3151L10.0001 17.5001Z" stroke="#E55652" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            a(href='/').mini-card__link.link Показать все товары <br/> категории
