nav.pagination.body__block     
    .pagination__btns 
        button(aria-label='В начало' title='В начало').pagination__btn.icon-btn.btn-bg 
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.33301 10H16.6663" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.33301 10L11.6663 13.3333" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.33301 9.99984L11.6663 6.6665" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.33301 3.3335V16.6668" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        button(aria-label='Назад' title='Назад').pagination__btn.icon-btn.btn-bg 
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                    <path d="M12.4175 15.1674L7.36001 10.2785L12.4175 5.38965" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                    <clipPath id="clip0">
                        <rect width="20" height="20" fill="white"/>
                    </clipPath>
                </defs>
            </svg>
        .pagination__links
            a.pagination__link(href="/").active 1 
            a.pagination__link(href="/") 2 
            a.pagination__link(href="/") 3 
            a.pagination__link(href="/") 4 
            a.pagination__link(href="/") ...
        button(aria-label='Вперед' title='Вперед').pagination__btn.icon-btn.btn-bg 
            <svg class='rot-180' width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                    <path d="M12.4175 15.1674L7.36001 10.2785L12.4175 5.38965" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                    <clipPath id="clip0">
                        <rect width="20" height="20" fill="white"/>
                    </clipPath>
                </defs>
            </svg> 
        button(aria-label='В конец' title='В конец').pagination__btn.icon-btn.btn-bg 
            <svg  class='rot-180' width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.33301 10H16.6663" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.33301 10L11.6663 13.3333" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.33301 9.99984L11.6663 6.6665" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.33301 3.3335V16.6668" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

    label(for="select").pagination__select 
        p.pagination__select-text Показывать по:&nbsp;
        select(id='select' name="pagination")
            option(value="30") 20
            option(value="30") 30
        span.pagination__select-arrow  