html(lang="ru")
   include components/head.pug
   body.body
      include components/aside.pug
      .body__body 
         include components/header.pug
         main.main
            .chanels.body__block
               .chanels__top 
                  h2.chanels__title Каналы сбыта <span> (будут выбраны по умолчанию для всех инвентарей)</span>:
                  include components/chanels-list.pug   
               .chanels__bottom 
                  .chanels__control 
                     label.checkbox.check-all
                        input(type="checkbox").visually-hidden
                        span.checkbox__input Выбрать все
                     button(type='button').chanels__reset Снять выделение
               .chanels__btn 
                  button.btn.btn-bg.btn--invers.btn--min Сохранить
      include components/partials/mixins
      .overlay

      include components/scripts.pug

