html(lang="ru")
   include components/head.pug
   body.body
      include components/aside.pug
      .body__body 
         include components/header.pug
         main.main
            include components/catalog.pug
            include components/inventory.pug
            .catalog__body
               .catalog__cards
                  include components/card.pug
                  include components/card.pug
                  include components/card.pug
                  include components/card.pug
               include components/pagination.pug
      include components/partials/mixins
      .overlay
      .modal.body__block 
         .modal__inner.scrollbar-outer 
            .modal__content
               .modal__head 
                  h2.modal__title Название:
                  p.modal__name Инвентарь 1 — Верхняя, летняя, спортивная одежда
                  button(aria-label='check' title='check').modal__icon-btn
                     <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.49992 5.83301H4.99992C4.55789 5.83301 4.13397 6.0086 3.82141 6.32116C3.50885 6.63372 3.33325 7.05765 3.33325 7.49967V14.9997C3.33325 15.4417 3.50885 15.8656 3.82141 16.1782C4.13397 16.4907 4.55789 16.6663 4.99992 16.6663H12.4999C12.9419 16.6663 13.3659 16.4907 13.6784 16.1782C13.991 15.8656 14.1666 15.4417 14.1666 14.9997V12.4997" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7.5 12.5H10L17.0833 5.41669C17.4149 5.08517 17.6011 4.63553 17.6011 4.16669C17.6011 3.69785 17.4149 3.24821 17.0833 2.91669C16.7518 2.58517 16.3022 2.39893 15.8333 2.39893C15.3645 2.39893 14.9149 2.58517 14.5833 2.91669L7.5 10V12.5Z" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M13.3333 4.16699L15.8333 6.66699" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                     </svg>
               .modal__body
                  h2.chanels__title.text-center Каналы сбыта
                  include components/chanels-list.pug
                  .chanels__bottom
                     .chanels__control.items-center
                        label.checkbox.check-all
                           input(type="checkbox").visually-hidden
                           span.checkbox__input Выбрать все
                        button(type='button').chanels__reset Снять выделение
                     .chanels__btn 
                        button.btn.btn-bg.btn--invers.btn--min Применить
                        button.btn.btn-bg.btn--min Очистить
      include components/scripts.pug

