html(lang="ru")
   include components/head.pug
   body.body
      include components/aside.pug
      .body__body 
         include components/header.pug
         main.main
            include components/catalog.pug
            .catalog__body
               .catalog__mini-cards
                  include components/mini-card.pug
                  +mini-card("img1")
                  +mini-card("img2")
                  +mini-card("img3")
                  +mini-card("img1")
                  +mini-card("img2")
                  +mini-card("img3")
                  +mini-card("img1")
                  +mini-card("img2")
                  +mini-card("img3")
                  +mini-card("img1")
               include components/pagination.pug
      include components/partials/mixins
      .overlay
      include components/scripts.pug

