html(lang="ru")
    include components/head.pug
    body.body
        include components/supplier/aside.pug
        .body__body 
            include components/supplier/header.pug
            main.main
                include components/supplier/catalog.pug
                .catalog__body
                    .catalog__mini-cards
                        include components/supplier/mini-card.pug
                        +mini-card("img1")
                        +mini-card("img2")
                        +mini-card("img3")
                        +mini-card("img1")
                        +mini-card("img2")
                        +mini-card("img3")
                        +mini-card("img1")
                        +mini-card("img2")
                        +mini-card("img3")
                        +mini-card("img1")
                    include components/pagination.pug
        include components/partials/mixins
        .overlay
        include components/scripts.pug

