html(lang="ru")
    include components/head.pug
    body.body
        include components/supplier/aside.pug
        .body__body 
            include components/supplier/header.pug
            main.main
                include components/supplier/catalog.pug
                include components/supplier/add-line.pug
                .catalog__body
                    .catalog__cards
                        include components/supplier/card.pug
                        include components/supplier/card.pug
                        include components/supplier/card.pug
                        include components/supplier/card.pug
                    include components/pagination.pug
        include components/partials/mixins
        .overlay
        .modal.body__block.category-modal
            .modal__inner.scrollbar-outer 
                .modal__content  
                    .modal__body
                        h2.category-modal__title.text-center Добавление категории
                        div.category-modal__input-row
                            label.category-modal__label     
                                input(type="text" name="category-name" placeholder='Название категории').category-modal__input
                            button(aria-label='Редактировать' title='Редактировать').category-modal__icon-btn.category-modal__icon-btn--edit.active
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.49992 5.83301H4.99992C4.55789 5.83301 4.13397 6.0086 3.82141 6.32116C3.50885 6.63372 3.33325 7.05765 3.33325 7.49967V14.9997C3.33325 15.4417 3.50885 15.8656 3.82141 16.1782C4.13397 16.4907 4.55789 16.6663 4.99992 16.6663H12.4999C12.9419 16.6663 13.3659 16.4907 13.6784 16.1782C13.991 15.8656 14.1666 15.4417 14.1666 14.9997V12.4997" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M7.5 12.5H10L17.0833 5.41669C17.4149 5.08517 17.6011 4.63553 17.6011 4.16669C17.6011 3.69785 17.4149 3.24821 17.0833 2.91669C16.7518 2.58517 16.3022 2.39893 15.8333 2.39893C15.3645 2.39893 14.9149 2.58517 14.5833 2.91669L7.5 10V12.5Z" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M13.3333 4.16699L15.8333 6.66699" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            button(aria-label='Очистить' title='Очистить').category-modal__icon-btn.category-modal__icon-btn--reset
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.9997 3.33301H4.99967C4.0792 3.33301 3.33301 4.0792 3.33301 4.99967V14.9997C3.33301 15.9201 4.0792 16.6663 4.99967 16.6663H14.9997C15.9201 16.6663 16.6663 15.9201 16.6663 14.9997V4.99967C16.6663 4.0792 15.9201 3.33301 14.9997 3.33301Z" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M11.6666 8.3335L8.33325 11.6668M8.33325 8.3335L11.6666 11.6668L8.33325 8.3335Z" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                        .category-modal__file-load 
                            p.category-modal__file-title Изображение категории
                            input(type="file" id="category-photo" name="category-photo").category-modal__file-input
                            label(for='category-photo').category-modal__file-label 
                                span.category-modal__file-text Перетащите сюда фото для загрузки
                                span.btn.btn-bg.btn--invers.category-modal__file-btn Загрузить файл
                                span.category-modal__preview.body__block
                                span(data-tooltip-content="#tooltip__content").category-modal__file-icon.tooltip
                                    +icon('info') 
                            button.category-modal__link 
                                span.category-modal__link-icon 
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.33301 11.6667C8.60457 11.9438 8.92871 12.164 9.28645 12.3143C9.64418 12.4647 10.0283 12.5421 10.4163 12.5421C10.8044 12.5421 11.1885 12.4647 11.5462 12.3143C11.904 12.164 12.2281 11.9438 12.4997 11.6667L15.833 8.33332C16.3855 7.78079 16.696 7.03139 16.696 6.24999C16.696 5.46859 16.3855 4.71919 15.833 4.16666C15.2805 3.61412 14.5311 3.30371 13.7497 3.30371C12.9683 3.30371 12.2189 3.61412 11.6663 4.16666L11.2497 4.58332" stroke="#BDBDBD" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M11.6667 8.33343C11.3951 8.05627 11.0709 7.83608 10.7132 7.68576C10.3555 7.53544 9.97135 7.45801 9.58332 7.45801C9.19529 7.45801 8.81116 7.53544 8.45343 7.68576C8.0957 7.83608 7.77155 8.05627 7.49999 8.33343L4.16666 11.6668C3.61412 12.2193 3.30371 12.9687 3.30371 13.7501C3.30371 14.5315 3.61412 15.2809 4.16666 15.8334C4.71919 16.386 5.46859 16.6964 6.24999 16.6964C7.03139 16.6964 7.78079 16.386 8.33332 15.8334L8.74999 15.4168" stroke="#BDBDBD" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                span.category-modal__link-text Загрузка по ссылке
                        .category-modal__select-wrapper
                            .category-modal__select-row 
                                p.category-modal__select-text Родительская категория
                                select(name="inventory").custom
                                    option(value="val1")   Название
                                    option(value="val2")   Выбрать инвентарь
                                    option(value="val3")   Выбрать инвентарь
                                    option(value="val4")   Выбрать инвентарь
                                    option(value="val5")   Выбрать инвентарь
                                    option(value="val6")   Выбрать инвентарь
                            .category-modal__select-row
                                p.category-modal__select-text Менеджер группы
                                select(name="inventory").custom
                                    option(value="val1")   Группа
                                    option(value="val2")   Выбрать инвентарь
                                    option(value="val3")   Выбрать инвентарь
                                    option(value="val4")   Выбрать инвентарь
                                    option(value="val5")   Выбрать инвентарь
                                    option(value="val6")   Выбрать инвентарь
                    .modal__bottom
                        .modal__btns
                            button.btn.btn-bg.btn--invers.btn--min Сохранить
                            button.btn.btn-bg.btn--min Удалить
        .tooltip__templates
            p#tooltip__content   Всплывающее окно <br> Подсказка.<br>Может состоять из:<br>— 1<br>— двух<br>— даже трех пунктов!
        include components/scripts.pug


