.add-line.body__block 
    .add-line__inner
        .add-line__item
            button(aria-labe='Добавить' title='Добавить').add-line__icon-btn.icon-btn.btn-bg.btn--invers
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 4.1665V15.8332" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.16675 10H15.8334" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            p.add-line__title Товар 
        .add-line__item
            button(aria-labe='Добавить' title='Добавить').add-line__icon-btn.icon-btn.btn-bg.btn--invers.open-modal
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 4.1665V15.8332" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.16675 10H15.8334" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            p.add-line__title Категория 
        .add-line__item 
            .add-line__inputs 
                label.add-line__checkbox.checkbox
                    input(type='checkbox').visually-hidden 
                    span.checkbox__input Выделить все товары
                label.add-line__checkbox.checkbox
                    input(type='checkbox').visually-hidden 
                    span.checkbox__input Выделить все категории
                .add-line__select 
                    select(name="add-line").custom
                        option(value="val1")   Переместить
                        option(value="val2")   Выбрать инвентарь
                        option(value="val3")   Выбрать инвентарь
                        option(value="val4")   Выбрать инвентарь
                        option(value="val5")   Выбрать инвентарь
                        option(value="val6")   Выбрать инвентарь
        .add-line__btns 
            button.add-line__btn.btn.btn-bg.btn--min Удалить