article.card.body__block
    .card__item
        .card__item-head
            h2.card__title Музыкальная система MARSHALL Acoustic Premium Sound Bar 
            .card__icons-btns
                label(aria-label='check' title='check').card__icon-btn.btn-checkbox
                    input(type="checkbox" ).visually-hidden
                    span
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.5 9.16667L10 11.6667L16.6667 5" stroke="#82868C" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M16.6663 10.0002V15.0002C16.6663 15.4422 16.4907 15.8661 16.1782 16.1787C15.8656 16.4912 15.4417 16.6668 14.9997 16.6668H4.99967C4.55765 16.6668 4.13372 16.4912 3.82116 16.1787C3.5086 15.8661 3.33301 15.4422 3.33301 15.0002V5.00016C3.33301 4.55814 3.5086 4.13421 3.82116 3.82165C4.13372 3.50909 4.55765 3.3335 4.99967 3.3335H12.4997" stroke="#82868C" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                button(aria-label='delete' title='delete').card__icon-btn 
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.33301 5.8335H16.6663" stroke="#82868C" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8.33301 9.1665V14.1665" stroke="#82868C" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M11.667 9.1665V14.1665" stroke="#82868C" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.16699 5.8335L5.00033 15.8335C5.00033 16.2755 5.17592 16.6994 5.48848 17.012C5.80104 17.3246 6.22496 17.5002 6.66699 17.5002H13.3337C13.7757 17.5002 14.1996 17.3246 14.5122 17.012C14.8247 16.6994 15.0003 16.2755 15.0003 15.8335L15.8337 5.8335" stroke="#82868C" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7.5 5.83333V3.33333C7.5 3.11232 7.5878 2.90036 7.74408 2.74408C7.90036 2.5878 8.11232 2.5 8.33333 2.5H11.6667C11.8877 2.5 12.0996 2.5878 12.2559 2.74408C12.4122 2.90036 12.5 3.11232 12.5 3.33333V5.83333" stroke="#82868C" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
        .card__body 
            .card__left 
                figure.card__img
                    img(src="./images/example.jpg" alt="Музыкальная система MARSHALL Acoustic Premium" width='220' height='175')
                    figcaption.card__id Артикул: 4958362
                .card__descr-mobile 
                    dl.card__dl
                        .card__dl-row    
                            dt.card__dt Тип:
                            dd.card__dd Стационарные
                        .card__dl-row    
                            dt.card__dt Назначение:
                            dd.card__dd Комплект акустики	
                        .card__dl-row    
                            dt.card__dt Тип акустической системы:
                            dd.card__dd Пассивная
                        .card__dl-row    
                            dt.card__dt Мощность:
                            dd.card__dd 6
                        .card__dl-row    
                            dt.card__dt Максимальная мощность:
                            dd.card__dd 6
                        .card__dl-row    
                            dt.card__dt Чувствительность:
                            dd.card__dd 70
                        .card__dl-row    
                            dt.card__dt Минимальная частота:
                            dd.card__dd 85
                        .card__dl-row    
                            dt.card__dt Максимальная частота:
                            dd.card__dd 18000
                        .card__dl-row    
                            dt.card__dt Материал корпуса:
                            dd.card__dd Дерево
                        .card__dl-row    
                            dt.card__dt Цвет корпуса:
                            dd.card__dd Коричневый
                        .card__dl-row    
                            dt.card__dt Состояние:
                            dd.card__dd Новое
                        .card__dl-row    
                            dt.card__dt Количество динамиков:
                            dd.card__dd 2
                        .card__dl-row    
                            dt.card__dt Импеданс:
                            dd.card__dd 4
                        .card__dl-row    
                            dt.card__dt Ширина:
                            dd.card__dd 85
                        .card__dl-row    
                            dt.card__dt Высота:
                            dd.card__dd 150
                dl.card__dl
                    .card__dl-row    
                        dt.card__dt Бренд:
                        dd.card__dd Marshall
                    .card__dl-row    
                        dt.card__dt Производитель:
                        dd.card__dd Китай
                    .card__dl-row    
                        dt.card__dt Материал:
                        dd.card__dd кожа
                    .card__dl-row    
                        dt.card__dt Закупочная цена:
                        dd.card__dd 11950
                    .card__dl-row    
                        dt.card__dt Дроп. Цена:
                        dd.card__dd 15950
                    .card__dl-row    
                        dt.card__dt РРЦ:
                        dd.card__dd 18900
            .card__right
                dl.card__dl.card__descr-desktop
                    .card__dl-row    
                        dt.card__dt Тип:
                        dd.card__dd Стационарные
                    .card__dl-row    
                        dt.card__dt Назначение:
                        dd.card__dd Комплект акустики	
                    .card__dl-row    
                        dt.card__dt Тип акустической системы:
                        dd.card__dd Пассивная
                    .card__dl-row    
                        dt.card__dt Мощность:
                        dd.card__dd 6
                    .card__dl-row    
                        dt.card__dt Максимальная мощность:
                        dd.card__dd 6
                    .card__dl-row    
                        dt.card__dt Чувствительность:
                        dd.card__dd 70
                    .card__dl-row    
                        dt.card__dt Минимальная частота:
                        dd.card__dd 85
                    .card__dl-row    
                        dt.card__dt Максимальная частота:
                        dd.card__dd 18000
                    .card__dl-row    
                        dt.card__dt Материал корпуса:
                        dd.card__dd Дерево
                    .card__dl-row    
                        dt.card__dt Цвет корпуса:
                        dd.card__dd Коричневый
                    .card__dl-row    
                        dt.card__dt Состояние:
                        dd.card__dd Новое
                    .card__dl-row    
                        dt.card__dt Количество динамиков:
                        dd.card__dd 2
                    .card__dl-row    
                        dt.card__dt Импеданс:
                        dd.card__dd 4
                    .card__dl-row    
                        dt.card__dt Ширина:
                        dd.card__dd 85
                    .card__dl-row    
                        dt.card__dt Высота:
                        dd.card__dd 150
    .card__bottom 
        .card__bottom-btns
            button.btn.btn-bg.btn--invers Редактировать
            button.btn.btn-bg Информация

