include ../partials/mixins
header.header.body__block   
    .header__left 
        nav.header__menu.menu 
            .menu__burger-wrapper 
                button(aria-label='Открыть меню' title='Открыть меню').menu__burger 
                    span 
                    span 
                    span 
            ul.menu__list
                li.menu__item 
                    a(href="/").menu__link
                        span.menu__link-name Распродажа
                        span.menu__link-icon 27
                li.menu__item 
                    a(href="/").menu__link
                        span.menu__link-name Новинки
                        span.menu__link-icon 5
                li.menu__item.menu__item--separetor
                    a(href="/").menu__link
                        span.menu__link-name Пополнения товаров
                        span.menu__link-icon 1
                li.menu__item 
                    a(href="/").menu__link
                        span.menu__link-name ТТН
                        span.menu__link-icon.menu__icon--warning 2
                li.menu__item.menu__item--separetor
                    a(href="/").menu__link
                        span.menu__link-name Заказы
                        span.menu__link-icon.menu__icon--danger 1
                li.menu__item 
                    a(href="/").menu__link
                        span.menu__link-name Каналы сбыта
                li.menu__item
                    a(href="/").menu__link
                        span.menu__link-name Статистика


    .header__right 
        .menu__adaptive
            a(href='/').menu__adaptive-link.icon-btn.btn-bg
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.8333 3.3335H4.16667C3.24619 3.3335 2.5 4.07969 2.5 5.00016C2.5 5.92064 3.24619 6.66683 4.16667 6.66683H15.8333C16.7538 6.66683 17.5 5.92064 17.5 5.00016C17.5 4.07969 16.7538 3.3335 15.8333 3.3335Z" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.16675 6.6665V14.9998C4.16675 15.4419 4.34234 15.8658 4.6549 16.1783C4.96746 16.4909 5.39139 16.6665 5.83341 16.6665H14.1667C14.6088 16.6665 15.0327 16.4909 15.3453 16.1783C15.6578 15.8658 15.8334 15.4419 15.8334 14.9998V6.6665" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M8.33325 10H11.6666" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

            a(href="/").menu__adaptive-link.icon-btn.btn-bg
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.66667 10H3.33333C2.8731 10 2.5 10.3731 2.5 10.8333V15.8333C2.5 16.2936 2.8731 16.6667 3.33333 16.6667H6.66667C7.1269 16.6667 7.5 16.2936 7.5 15.8333V10.8333C7.5 10.3731 7.1269 10 6.66667 10Z" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M11.6667 6.66699H8.33333C7.8731 6.66699 7.5 7.04009 7.5 7.50033V15.8337C7.5 16.2939 7.8731 16.667 8.33333 16.667H11.6667C12.1269 16.667 12.5 16.2939 12.5 15.8337V7.50033C12.5 7.04009 12.1269 6.66699 11.6667 6.66699Z" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16.6667 3.33301H13.3333C12.8731 3.33301 12.5 3.7061 12.5 4.16634V15.833C12.5 16.2932 12.8731 16.6663 13.3333 16.6663H16.6667C17.1269 16.6663 17.5 16.2932 17.5 15.833V4.16634C17.5 3.7061 17.1269 3.33301 16.6667 3.33301Z" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M3.33325 16.667H14.9999" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
        .header__right-btns 
            //.header__btn-item
                button.header__btn.btn-bg
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.00001 17.4998C5.92049 17.4998 6.66668 16.7536 6.66668 15.8332C6.66668 14.9127 5.92049 14.1665 5.00001 14.1665C4.07954 14.1665 3.33334 14.9127 3.33334 15.8332C3.33334 16.7536 4.07954 17.4998 5.00001 17.4998Z" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M14.1667 17.4998C15.0871 17.4998 15.8333 16.7536 15.8333 15.8332C15.8333 14.9127 15.0871 14.1665 14.1667 14.1665C13.2462 14.1665 12.5 14.9127 12.5 15.8332C12.5 16.7536 13.2462 17.4998 14.1667 17.4998Z" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M14.1667 14.1667H5.00001V2.5H3.33334" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M5 4.1665L16.6667 4.99984L15.8333 10.8332H5" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            .header__btn-item
                button.header__btn.btn-bg
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.5 16.6668L3.58333 13.4168C2.64704 12.032 2.30833 10.3922 2.63018 8.80207C2.95204 7.21197 3.91255 5.77987 5.33314 4.77204C6.75373 3.76421 8.53772 3.24923 10.3534 3.32285C12.1691 3.39647 13.8929 4.05368 15.2044 5.17228C16.5159 6.29089 17.3257 7.79477 17.4834 9.4043C17.6411 11.0138 17.1358 12.6195 16.0616 13.9228C14.9873 15.226 13.4172 16.1382 11.6432 16.4896C9.86911 16.8411 8.01184 16.6079 6.41667 15.8335L2.5 16.6668" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M10 10V10.0083" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.66675 10V10.0083" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M13.3333 10V10.0083" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            .header__btn-item
                button.header__btn.btn-bg
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.33325 4.16667C8.33325 3.72464 8.50885 3.30072 8.82141 2.98816C9.13397 2.67559 9.55789 2.5 9.99992 2.5C10.4419 2.5 10.8659 2.67559 11.1784 2.98816C11.491 3.30072 11.6666 3.72464 11.6666 4.16667C12.6236 4.61919 13.4394 5.32361 14.0266 6.20442C14.6138 7.08523 14.9503 8.10923 14.9999 9.16667V11.6667C15.0626 12.1848 15.2461 12.6809 15.5356 13.1151C15.8251 13.5493 16.2125 13.9095 16.6666 14.1667H3.33325C3.78737 13.9095 4.17476 13.5493 4.46424 13.1151C4.75372 12.6809 4.93721 12.1848 4.99992 11.6667V9.16667C5.04955 8.10923 5.386 7.08523 5.97321 6.20442C6.56042 5.32361 7.37624 4.61919 8.33325 4.16667" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7.5 14.1665V14.9998C7.5 15.6629 7.76339 16.2988 8.23223 16.7676C8.70107 17.2364 9.33696 17.4998 10 17.4998C10.663 17.4998 11.2989 17.2364 11.7678 16.7676C12.2366 16.2988 12.5 15.6629 12.5 14.9998V14.1665" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            .header__btn-item
                button.header__btn.btn-bg.header__btn--help
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.66663 6.6665C6.66663 6.00346 6.97392 5.36758 7.5209 4.89874C8.06788 4.4299 8.80974 4.1665 9.58329 4.1665H10.4166C11.1902 4.1665 11.932 4.4299 12.479 4.89874C13.026 5.36758 13.3333 6.00346 13.3333 6.6665C13.364 7.20755 13.218 7.74392 12.9174 8.19482C12.6168 8.64572 12.1779 8.98673 11.6666 9.1665C11.1554 9.40619 10.7164 9.86088 10.4158 10.4621C10.1152 11.0633 9.96927 11.7784 9.99996 12.4998" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M10 15.8335V15.8418" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            .header__btn-item.slide-toggle
                button.header__btn.slide-toggle__btn.btn-bg
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.5 5.85786 14.1421 2.5 10 2.5C5.85786 2.5 2.5 5.85786 2.5 10C2.5 14.1421 5.85786 17.5 10 17.5Z" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3 7.5H17" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3 12.5H17" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M9.58322 2.5C8.17934 4.74968 7.43506 7.34822 7.43506 10C7.43506 12.6518 8.17934 15.2503 9.58322 17.5" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M10.4165 2.5C11.8204 4.74968 12.5647 7.34822 12.5647 10C12.5647 12.6518 11.8204 15.2503 10.4165 17.5" stroke="#232323" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                .header__btn-body.slide-toggle__body.body__block
                    input(type="radio" id='ru' name='language' value="ru" checked).visually-hidden
                    label(for='ru').header__option 
                        span RU
                    input(type="radio" id='ua' name='language' value="ua").visually-hidden     
                    label(for='ua').header__option 
                        span UA
        .header__avatar.avatar.slide-toggle
            button.avatar__btn.slide-toggle__btn.js-overlay
                img(src="./images/avatar-2.png" alt="Evhenii Bilyk" width="40" height='40')
            .avatar__body.slide-toggle__body.body__block
                .avatar__personal 
                    p.avatar__name Иван Иванов
                    p.avatar__id id2932382
                .avatar__money 
                    p Сумма к выплате: 37492
                    p Баланс: 3749 ₽
                    a(href="").avatar__money-link.link  Пополнить
                ul.avatar__menu 
                    li.avatar__item 
                        a(href='/').avatar__link
                            span.avatar__icon 
                                +icon('orders')
                            span.avatar__link-title Заказы
                    li.avatar__item 
                        a(href='/').avatar__link
                            span.avatar__icon 
                                +icon('basket')
                            span.avatar__link-title Корзина
                    li.avatar__item 
                        a(href='/').avatar__link
                            span.avatar__icon 
                                +icon('TTN')
                            span.avatar__link-title ТТН
                    li.avatar__item 
                        a(href='/').avatar__link
                            span.avatar__icon 
                                +icon('finance')
                            span.avatar__link-title Финансы
                    li.avatar__item 
                        a(href='/').avatar__link
                            span.avatar__icon 
                                +icon('bill')
                            span.avatar__link-title Счета
                    li.avatar__item 
                        a(href='/').avatar__link
                            span.avatar__icon 
                                +icon('notification')
                            span.avatar__link-title Уведомления
                button.avatar__log-out 
                    span Выйти из аккаунта
                    +icon('logOut')